html, body {
	margin: 0;
	paddin: 0;
}

.left-align {
	margin-left: 0;
	margin-right: auto;
}

.center-align {
	margin-left: auto;
	margin-right: auto;
}

.right-align {
	margin-left: auto;
	margin-right: 0;
}

.catalog-title {
	font-family: "Roboto Mono", monospace;
}

/* ==========================================================================
   Toolbar nav link
   ========================================================================== */

.toolbar-nav-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: -14px;
	margin-bottom: -24px;
	height: 56px;
	padding: 0 14px;
	background: none;
	border: none;
	border-bottom: 2px solid transparent;
	cursor: pointer;
	font-family: Roboto Mono;
	font-size: .875rem;
	letter-spacing: .04em;
	line-height: 1.25rem;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
}

.toolbar-nav-link, .toolbar-nav-link:active, .toolbar-nav-link:hover,
	.toolbar-nav-link:link, .toolbar-nav-link:visited {
	color: var(--mdc-theme-text-primary-on-primary);
	fill: var(--mdc-theme-text-primary-on-primary);
}

.toolbar-nav-link.active {
	color: var(--mdc-theme-accent);
	border-bottom: 2px solid var(--mdc-theme-accent);
}

/* ==========================================================================
   Icons
   ========================================================================== */

.material-icons {
	cursor: pointer;
}

.mdc-toolbar > .material-icons, 
.mdc-toolbar__row > .material-icons,
.mdc-toolbar__section > .material-icons {
	margin-right: 12px;
}

/* ==========================================================================
   Configure the scrollsbars
   ========================================================================== */
::-webkit-scrollbar {
	width: 6px; /* for vertical scrollbars */
	height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
	/*
    border-radius: 0px;
    background: linear-gradient(#455a64, #455a64);
    background-size: 100% 112px;
    background-repeat: no-repeat;
    background-color: #78909c;
    */
	background-color: var(--mdc-theme-text-primary-on-primary);
	/* #F5F5F5 !important; */
}

::-webkit-scrollbar-thumb {
	border-radius: 0px !important;
	/*
	background: #455A64 !important;
	*/
	background: var(--mdc-theme-accent);
}