html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

html, 
body,
label,
h1, 
h2, 
h3, 
h4,
textarea {
	font-family: "Roboto", monospace;
}

i, button, a {
	cursor: pointer;
}

a:link,
a:visited,
a:hover,
a:active {
    color: var(--mdc-theme-secondary);
}

.left-align {
	margin-left: 0;
	margin-right: auto;
}

.center-align {
	margin-left: auto;
	margin-right: auto;
}

.right-align {
	margin-left: auto;
	margin-right: 0;
}

/* ==========================================================================
   Extra to use Roboto Mono
   ========================================================================== */

.catalog-title {
	font-family: "Roboto Mono", monospace;
}

/* ==========================================================================
   Extra hide on classes
   ========================================================================== */

@media (max-width: 479px) {
	.mdc-hide-on-phone {
		display: none;
	}
}

@media (min-width: 480px) and (max-width: 839px) {
	.mdc-hide-on-tablet {
		display: none;
	}
}

@media (min-width: 840px) {
	.mdc-hide-on-desktop {
		display: none;
	}
}

/* ==========================================================================
   Config default component content
   ========================================================================== */

.mdc-content {
	flex: one;
	align-self: auto;
	flex-grow: 1;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	align-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;	
	overflow-x: hidden;
	position: relative; 
}

/* ==========================================================================
   Adjust icon position
   ========================================================================== */

.material-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}


/* ==========================================================================
   Adjust code
   ========================================================================== */

.mdc-code-example {
	display: flex;
	flex-direction: column;	
	justify-content: center;
	align-items: center;
	padding: 24px;
}

.mdc-code {
	flex: one;
	width: 100%;
	text-align: left;
}

/* ==========================================================================
   Adjust Toolbar
   ========================================================================== */

.mdc-toolbar {
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: center;	
	flex-direction: column;
}

.mdc-toolbar__section {
	align-items: center;
	align-content: center;
}

.mdc-toolbar img {
	align-self: center;
	margin: 0 0 0 16px;
}

/* ==========================================================================
   Adjust Snackbar
   ========================================================================== */

.mdc-snackbar {
	z-index: 1;		
}

/* ==========================================================================
   Adjust tab
   ========================================================================== */

/* ----------------------------------- 
	Default color is text on primary 
-------------------------------------- */
.mdc-tab-bar {
	margin: 0;
}
   
.mdc-tab {
	color: var(--mdc-theme-text-secondary-on-primary, rgba(0, 0, 0, 0.54));
}

.mdc-tab:hover,
.mdc-tab:focus,
.mdc-tab--active {
	color: var(--mdc-theme-text-primary-on-primary, rgba(0, 0, 0, 0.54));
}

.mdc-tab-bar__indicator {
	background-color: var(--mdc-theme-text-primary-on-primary, rgba(0, 0, 0, 0.54));
}

.mdc-tab-bar-scroller__indicator {
	color: var(--mdc-theme-text-secondary-on-primary, rgba(0, 0, 0, 0.54));
}

.mdc-tab-bar-scroller__indicator:hover {
	color: var(--mdc-theme-text-primary-on-primary, rgba(0, 0, 0, 0.54));
}   

.mdc-tab-bar .mdc-tab.mdc-ripple-upgraded::after,
.mdc-tab-bar .mdc-tab.mdc-ripple-upgraded::before {
    background-color: var(--mdc-theme-ripple-on-primary);
}

.mdc-toolbar .mdc-tab {
	height: 64px;
}
/* if has text only
.mdc-tab-bar:not(.mdc-tab-bar--icon-tabs):not(.mdc-tab-bar--icons-with-text) {
	bottom: -12px;
}
*/
/* ---------------------------- 
		Primary color 
------------------------------- */

.mdc-tab-bar__primary .mdc-tab {
	color: var(--mdc-theme-primary, rgba(0, 0, 0, 0.54)) !important;
	opacity: 0.30;
}

.mdc-tab-bar__primary .mdc-tab:hover,
.mdc-tab-bar__primary .mdc-tab:focus,
.mdc-tab-bar__primary .mdc-tab--active {
	color: var(--mdc-theme-primary, rgba(0, 0, 0, 0.54)) !important;
	opacity: 1.0;
}

.mdc-tab-bar__primary .mdc-tab-bar__indicator {
	background-color: var(--mdc-theme-primary, rgba(0, 0, 0, 0.54)) !important;
}

.mdc-tab-bar__primary .mdc-tab-bar-scroller__indicator {
	color: var(--mdc-theme-primary, rgba(0, 0, 0, 0.54)) !important;
	opacity: 0.30;
}

.mdc-tab-bar__primary .mdc-tab-bar-scroller__indicator:hover {
	color: var(--mdc-theme-primary, rgba(0, 0, 0, 0.54)) !important;
	opacity: 1.0;
}   

.mdc-tab-bar__primary .mdc-tab.mdc-ripple-upgraded::after,
.mdc-tab-bar__primary .mdc-tab.mdc-ripple-upgraded::before {
    background-color: var(--mdc-theme-ripple-primary) !important;
}

/* ---------------------------- 
	Text on Secondary color 
------------------------------- */

.mdc-tab-bar__on_secondary .mdc-tab {
	color: var(--mdc-theme-text-secondary-on-secondary, rgba(0, 0, 0, 0.54)) !important;
}

.mdc-tab-bar__on_secondary .mdc-tab:hover,
.mdc-tab-bar__on_secondary .mdc-tab:focus,
.mdc-tab-bar__on_secondary .mdc-tab--active {
	color: var(--mdc-theme-text-primary-on-secondary, rgba(0, 0, 0, 0.54)) !important;
}

.mdc-tab-bar__on_secondary .mdc-tab-bar__indicator {
	background-color: var(--mdc-theme-text-primary-on-secondary, rgba(0, 0, 0, 0.54)) !important;
}

.mdc-tab-bar__on_secondary .mdc-tab-bar-scroller__indicator {
	color: var(--mdc-theme-text-secondary-on-secondary, rgba(0, 0, 0, 0.54)) !important;
}

.mdc-tab-bar__on_secondary .mdc-tab-bar-scroller__indicator:hover {
	color: var(--mdc-theme-text-primary-on-secondary, rgba(0, 0, 0, 0.54)) !important;
}   

.mdc-tab-bar__on_secondary .mdc-tab.mdc-ripple-upgraded::after,
.mdc-tab-bar__on_secondary .mdc-tab.mdc-ripple-upgraded::before {
    background-color: var(--mdc-theme-ripple-on-secondary) !important;
}

/* ---------------------------- 
		Secondary color 
------------------------------- */

.mdc-tab-bar__secondary .mdc-tab {
	color: var(--mdc-theme-secondary, rgba(0, 0, 0, 0.54)) !important;
	opacity: 0.30;
}

.mdc-tab-bar__secondary .mdc-tab:hover,
.mdc-tab-bar__secondary .mdc-tab:focus,
.mdc-tab-bar__secondary .mdc-tab--active {
	color: var(--mdc-theme-secondary, rgba(0, 0, 0, 0.54)) !important;
	opacity: 1.0;
}

.mdc-tab-bar__secondary .mdc-tab-bar__indicator {
	background-color: var(--mdc-theme-secondary, rgba(0, 0, 0, 0.54)) !important;
}

.mdc-tab-bar__secondary .mdc-tab-bar-scroller__indicator {
	color: var(--mdc-theme-secondary, rgba(0, 0, 0, 0.54)) !important;
	opacity: 0.30;
}

.mdc-tab-bar__secondary .mdc-tab-bar-scroller__indicator:hover {
	color: var(--mdc-theme-secondary, rgba(0, 0, 0, 0.54)) !important;
	opacity: 1.0;
}   

.mdc-tab-bar__secondary .mdc-tab.mdc-ripple-upgraded::after,
.mdc-tab-bar__secondary .mdc-tab.mdc-ripple-upgraded::before {
    background-color: var(--mdc-theme-ripple-secondary) !important;
}

/* ---------------------------- 
	Text on Background color 
------------------------------- */

.mdc-tab-bar__on_background .mdc-tab {
	color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54)) !important;
}

.mdc-tab-bar__on_background .mdc-tab:hover,
.mdc-tab-bar__on_background .mdc-tab:focus,
.mdc-tab-bar__on_background .mdc-tab--active {
	color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.54)) !important;
}

.mdc-tab-bar__on_background .mdc-tab-bar__indicator {
	background-color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.54)) !important;
}

.mdc-tab-bar__on_background .mdc-tab-bar-scroller__indicator {
	color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54)) !important;
}

.mdc-tab-bar__on_background .mdc-tab-bar-scroller__indicator:hover {
	color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.54)) !important;
}   

.mdc-tab-bar__on_background .mdc-tab.mdc-ripple-upgraded::after,
.mdc-tab-bar__on_background .mdc-tab.mdc-ripple-upgraded::before {
    background-color: var(--mdc-theme-ripple-on-background) !important;
}

/* ==========================================================================
   Adjust drawer
   ========================================================================== */
.mdc-drawer--permanent,
.mdc-drawer--persistent {
	height: 100%;
}  

.mdc-drawer .mdc-drawer__drawer {
	max-height: 100%;
	overflow-y: auto; 
}

.mdc-permanent-drawer .mdc-list-group__subheader,
.mdc-temporary-drawer .mdc-list-group__subheader,
.mdc-permanent-drawer .mdc-list-item,
.mdc-temporary-drawer .mdc-list-item {
	padding-left: 8px;
}
 
.mdc-permanent-drawer,
.mdc-permanent-drawer .mdc-list-group, 
.mdc-persistent-drawer,
.mdc-persistent-drawer__drawer {
	margin-bottom: 0;
	padding-bottom: 0;
	height: 100% !important;
	min-height: 100% !important;
}

.mdc-permanent-drawer .mdc-list-group,
.mdc-persistent-drawer .mdc-list-group,
.mdc-temporary-drawer .mdc-list-group {
	overflow-y: auto;
	overflow-x: hidden; 
}

.mdc-permanent-drawer,
.mdc-persistent-drawer__drawer,
.mdc-temporary-drawer__drawer {
	border-right-color: var(--mdc-theme-text-hint-on-background);
}

[dir="rtl"] .mdc-permanent-drawer, .mdc-permanent-drawer[dir="rtl"],
[dir="rtl"] .mdc-persistent-drawer__drawer, .mdc-persistent-drawer__drawer[dir="rtl"],
[dir="rtl"] .mdc-temporary-drawer__drawer, .mdc-temporary-drawer__drawer[dir="rtl"] {
	border-left-color: var(--mdc-theme-text-hint-on-background);
}

.mdc-permanent-drawer__toolbar-spacer,
.mdc-persistent-drawer__toolbar-spacer,
.mdc-temporary-drawer__toolbar-spacer {
	border-bottom-color: var(--mdc-theme-text-hint-on-background);
}


/* ==========================================================================
   Adjust dialog color
   ========================================================================== */

.mdc-dialog__header,
.mdc-dialog__footer__button {
	color: var(--mdc-theme-text-primary-on-background);
}

.mdc-dialog__body {
	color: var(--mdc-theme-text-secondary-on-background);
}

.mdc-dialog__action {
	color: var(--mdc-theme-text-secondary-on-background);
}

/* ==========================================================================
   Adjust list color
   ========================================================================== */
.mdc-list-item,
.mdc-list-item * {
	cursor: pointer;
}
   
.mdc-list-item .mdc-list-item__start-detail  {
	color: var(--mdc-theme-text-primary-on-background);
	margin-right: 16px;
}

.mdc-list-item .mdc-list-item__start-detail:not(.material-icons)  {
	width: 40px;
	height: 40px;
}

.mdc-list--avatar-list .mdc-list-item__start-detail:not(img) {
	width: 24px;
	height: 24px;
}

.mdc-list-divider {
	background-color: var(--mdc-theme-text-hint-on-background);
}

.mdc-list-group__subheader {
	color: var(--mdc-theme-text-secondary-on-background);
}

/* ==========================================================================
   Button
   ========================================================================== */

.mdc-button--primary::before,
.mdc-button--primary::after {
	background-color: var(--mdc-theme-ripple-primary);
}

.mdc-button--accent::before,
.mdc-button--accent::after {
	background-color: var(--mdc-theme-ripple-secondary);
}

.mdc-button--primary[disabled].mdc-button--raised,
.mdc-button--accent[disabled].mdc-button--raised {
    opacity: 0.26;
}

/* ==========================================================================
   Icon toggle
   ========================================================================== */
.mdc-icon-toggle--disabled {
	opacity: 0.26;
}   

.mdc-icon-toggle.mdc-list-item__start-detail {
	width: 36px;
	height: 36px;
	margin-left: -6px;
}

.mdc-icon-toggle.mdc-list-item__end-detail {
	width: 36px;
	height: 36px;
	margin-right: -6px;
}

/* ==========================================================================
   Floating FAB
   ========================================================================== */

.mdc-fab--fixed {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	z-index: 1;

	-webkit-transition: bottom 0.5s;    	
    transition: bottom 0.5s;
}

/* ---------------------
   Ajust for Snackbars
   ---------------------  */
@media (max-width: 599px) {

	.mdc-snackbar--multiline.mdc-snackbar--active ~ .mdc-fab--fixed {		
		bottom: calc(1rem + 80px);
		
		-webkit-transition: bottom 0.25s;
		transition: bottom 0.25s;
	}

	.mdc-snackbar--active ~ .mdc-fab--fixed {	
		bottom: calc(1rem + 48px);
		
		-webkit-transition: bottom 0.25s;    
		transition: bottom 0.25s;    
	}
	
}

@media ( min-width : 1024px) {
	.mdc-fab--fixed {
		bottom: 1.5rem;
		right: 1.5rem;
	}
}

/* ==========================================================================
   Material disabled adjust
   ========================================================================== */
.material-icons--disabled {
	opacity: 0.26;
}

/* ==========================================================================
   Form fields disabled adjust
   ========================================================================== */
.mdc-form-field[disabled] {
	opacity: 0.26;
}

.mdc-form-field input,
.mdc-form-field label,
.mdc-form-field textarea {
	color: var(--mdc-theme-text-primary-on-background);
    text-shadow: none;
}

/* ==========================================================================
   RadioButton color adjust
   ========================================================================== */

.mdc-radio__native-control:checked + .mdc-radio__background .mdc-radio__inner-circle {   
    background-color: var(--mdc-theme-secondary);
}

.mdc-radio__outer-circle {    
    border-color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
}

.mdc-radio__native-control:checked + .mdc-radio__background .mdc-radio__outer-circle {
	border-color: var(--mdc-theme-secondary);
}

/* ==========================================================================
   Checkbox color adjust
   ========================================================================== */
@-webkit-keyframes mdc-checkbox-fade-out-secondary {
    0%,
    80% {
    	/* @alternate */
    	border-color: transparent;
    	/* @alternate */
    	background-color: var(--mdc-theme-secondary, #3f51b5); }
    100% {
    	border-color: rgba(0, 0, 0, 0.54);
    	background-color: transparent;
    }
}

.mdc-checkbox--anim-checked-unchecked .mdc-checkbox__background, .mdc-checkbox--anim-indeterminate-unchecked .mdc-checkbox__background {
  -webkit-animation: mdc-checkbox-fade-out-secondary 180ms linear;
          animation: mdc-checkbox-fade-out-secondary 180ms linear; }

.mdc-checkbox__background {   
    border-color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
}

.mdc-checkbox__native-control:checked ~ .mdc-checkbox__background,
.mdc-checkbox__native-control:indeterminate ~ .mdc-checkbox__background {
	background: var(--mdc-theme-secondary, rgba(0, 0, 0, 0.54));
	border-color: var(--mdc-theme-secondary, rgba(0, 0, 0, 0.54));
}

/* ==========================================================================
   Slider color adjust
   ========================================================================== */

.mdc-slider__track-container {
	background-color: var(--mdc-theme-text-hint-on-background, rgba(0, 0, 0, 0.38));
}

.mdc-slider__focus-ring,
.mdc-slider__pin,
.mdc-slider__track {
	color: var(--mdc-theme-text-primary-on-secondary);
    background-color: var(--mdc-theme-secondary);
}

.mdc-slider__track-marker-container::after {
	width: 0;
	height: 0;
}

.mdc-slider__track-marker::after {
	background-color: var(--mdc-theme-secondary) !important;
}

.mdc-slider__thumb {
  	fill: var(--mdc-theme-secondary);
  	stroke: var(--mdc-theme-secondary);
}

/* ==========================================================================
   Switch color adjust
   ========================================================================== */
.mdc-switch__background {
	background-color: var(--mdc-theme-text-hint-on-background, rgba(0, 0, 0, 0.38));
}   

.mdc-switch__native-control:checked ~ .mdc-switch__background::before {
	background-color: var(--mdc-theme-secondary, #3f51b5);
	opacity: 0.24;
}

.mdc-switch__native-control:checked ~ .mdc-switch__background .mdc-switch__knob,
.mdc-switch__native-control:checked ~ .mdc-switch__background .mdc-switch__knob::before {
  	background-color: var(--mdc-theme-secondary, #3f51b5);
}
   
.mdc-switch__native-control:not(checked) ~ .mdc-switch__background .mdc-switch__knob,
.mdc-switch__native-control:not(checked) ~ .mdc-switch__background .mdc-switch__knob::before {
  	background-color:  #ddd;
}

/* ==========================================================================
   Textfield color adjust
   ========================================================================== */

.mdc-textfield,
.mdc-textfield__input,
.mdc-textfield__label {
	width: 100%;
}

.mdc-textfield--box.mdc-textfield--focused .mdc-textfield__bottom-line,
.mdc-textfield--focused.mdc-textfield--upgraded:not(.mdc-textfield--fullwidth):not(.mdc-textfield--multiline):not(.mdc-textfield--box)::after {
    background-color: var(--mdc-theme-secondary, #3f51b5);
}

.mdc-textfield--focused .mdc-textfield__label {
  	color: var(--mdc-theme-secondary, #3f51b5) !important; 
}

.mdc-textfield__input:focus,
.mdc-textfield--multiline .mdc-textfield__input:focus,
.mdc-textfield:not(.mdc-textfield--upgraded) .mdc-textfield__input:focus {
    border-color: var(--mdc-theme-secondary, #3f51b5);
}

.mdc-textfield:not(.mdc-textfield--disabled):not(.mdc-textfield--focused) .mdc-textfield__input:required:invalid + .mdc-textfield__label {
    color: #d50000 !important; 
}

.mdc-textfield--disabled .mdc-textfield__input {
	color: var(--mdc-theme-text-primary-on-background);
}

.mdc-textfield:not(.mdc-textfield--disabled) .mdc-textfield__input:required:invalid {
	border-bottom: 1px solid #d50000;
}

.mdc-textfield:not(.mdc-textfield--disabled) .mdc-textfield__input {
	border-bottom: 1px solid var(--mdc-theme-text-hint-on-background, rgba(0, 0, 0, 0.38));
}

/* -------------------------------------------------------------------
 * Adjust help text margins
 * ------------------------------------------------------------------- 
 */
 
 .mdc-textfield--disabled + .mdc-textfield-helptext {
 	color: var(--mdc-theme-text-disabled-on-background);
 }
 
.mdc-textfield-helptext {
	margin-top: -4px;
	margin-left: -4px;	
	max-width: 100%;
	overflow: hidden;
  	text-overflow: ellipsis;
}

/* -------------------------------------------------------------------
 * If Textfield has a placeholder the label it make the label to up
 * ------------------------------------------------------------------- 
 */

.mdc-textfield__input[placeholder]:not([placeholder=""]) + .mdc-textfield__label {
      -webkit-transform: translateY(-100%) scale(0.75, 0.75);
              transform: translateY(-100%) scale(0.75, 0.75);
}

.mdc-textfield--dense .mdc-textfield__input[placeholder]:not([placeholder=""]) + .mdc-textfield__label {
    -webkit-transform: translateY(calc(-100% - 2px)) scale(0.923, 0.923);
            transform: translateY(calc(-100% - 2px)) scale(0.923, 0.923); 
}

/* ==========================================================================
   TextArea color adjust
   ========================================================================== */

.mdc-textfield--multiline .mdc-textfield__input {
    border: 1px solid var(--mdc-theme-text-hint-on-background, rgba(0, 0, 0, 0.38));
}

.mdc-textfield--multiline .mdc-textfield__input:focus {
	border-color: var(--mdc-theme-secondary, #3f51b5); 
}

/* ==========================================================================
   Layout Grid adjust
   ========================================================================== */
.mdc-layout-grid {
	width: 100%;
}

/* ==========================================================================
   Linear Progress adjust
   ========================================================================== */

.mdc-linear-progress .mdc-linear-progress__bar-inner {
    background-color: var(--mdc-theme-secondary, #ff4081); 
}

.mdc-linear-progress__buffering-dots {
	right: 0;
	background-image: radial-gradient(ellipse 4px 4px at center, var(--mdc-theme-text-hint-on-background, #e6e6e6) 0%, var(--mdc-theme-text-hint-on-background, #e6e6e6) 47%, var(--mdc-theme-text-hint-on-background, #e6e6e6) 47%, transparent 47%, transparent 48%);
	opacity: 0.75;
}

.mdc-linear-progress--reversed .mdc-linear-progress__buffering-dots {
	left: 0;
}

.mdc-linear-progress__buffer {
	background-color: var(--mdc-theme-text-hint-on-background, #e6e6e6);
}

/* ==========================================================================
   Menu adjust
   ========================================================================== */

/* ==========================================================================
   Configure Ripple background
   ========================================================================== */
.mdc-ripple-surface--none::before, 
.mdc-ripple-surface--none::after {
	background-color: transparent;
}
    
.mdc-ripple-surface--primary::before, 
.mdc-ripple-surface--primary:after {
	background-color: var(--mdc-theme-ripple-primary);
}

.mdc-ripple-surface--secondary::before, 
.mdc-ripple-surface--secondary::after {
	background-color: var(--mdc-theme-ripple-secondary);
}

.mdc-ripple-surface--on-primary::before, 
.mdc-ripple-surface--on-primary::after {
	background-color: var(--mdc-theme-ripple-on-primary);
}

.mdc-ripple-surface--on-secondary::before, 
.mdc-ripple-surface--on-secondary::after {
	background-color: var(--mdc-theme-ripple-on-secondary);
}

.mdc-ripple-surface--on-background::before, 
.mdc-ripple-surface--on-background::after {
	background-color: var(--mdc-theme-ripple-on-background);
}


/* ==========================================================================
   Configure placeholder color
   ========================================================================== */

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: var(--mdc-theme-text-primary-on-background) !important;
	opacity: 0.54 !important;
}
::-moz-placeholder { /* Firefox 19+ */
	color: var(--mdc-theme-text-primary-on-background) !important;
	opacity: 0.54 !important;
}
:-ms-input-placeholder { /* IE 10+ */
	color: var(--mdc-theme-text-primary-on-background) !important;
	opacity: 0.54 !important;
}
:-moz-placeholder { /* Firefox 18- */
	color: var(--mdc-theme-text-primary-on-background) !important;
	opacity: 0.54 !important;
}

/* ==========================================================================
   Configure the scrollsbars
   ========================================================================== */
::-webkit-scrollbar {
	width: 6px; /* for vertical scrollbars */
	height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
	background-color: var(--mdc-theme-text-primary-on-primary);
}

::-webkit-scrollbar-thumb {
	border-radius: 0px !important;
	background: var(--mdc-theme-secondary);
}