html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

html, 
body,
label,
h1, 
h2, 
h3, 
h4,
textarea {
	font-family: "Roboto", monospace;
}

i, button, a {
	cursor: pointer;
}

a:link,
a:visited,
a:hover,
a:active {
    color: var(--mdc-theme-secondary);
}

.left-align {
	margin-left: 0;
	margin-right: auto;
}

.center-align {
	margin-left: auto;
	margin-right: auto;
}

.right-align {
	margin-left: auto;
	margin-right: 0;
}

/* ==========================================================================
   Extra to use Roboto Mono
   ========================================================================== */

.catalog-title {
	font-family: "Roboto Mono", monospace;
}

/* ==========================================================================
   Aspect Ratio
   ========================================================================== */
.mdc-aspect-1x1 {
	padding-bottom: calc(100%/ 1);
}

.mdc-aspect-16x9 {
	padding-bottom: calc(100%/ 1.77778);
}

.mdc-aspect-3x2 {
	padding-bottom: calc(100%/ 1.5);
}

.mdc-aspect-2x3 {
	padding-bottom: calc(100%/ 0.66667);
}

.mdc-aspect-4x3 {
	padding-bottom: calc(100%/ 1.33333);
}

.mdc-aspect-3x4 {
	padding-bottom: calc(100%/ 0.75);
}
/* ==========================================================================
   Extra hide on classes
   ========================================================================== */

@media (max-width: 479px) {
	.mdc-hide-on-phone {
		display: none;
	}
}

@media (min-width: 480px) and (max-width: 839px) {
	.mdc-hide-on-tablet {
		display: none;
	}
}

@media (min-width: 840px) {
	.mdc-hide-on-desktop {
		display: none;
	}
}

/* ==========================================================================
   Config default component content
   ========================================================================== */

.mdc-content {
	flex: one;
	align-self: auto;
	flex-grow: 1;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	align-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;	
	overflow: visible;
	overflow-x: hidden;
	position: relative;
}

/* ==========================================================================
   Top App Bar
   ========================================================================== */
.mdc-top-app-bar {
	z-index: 4;
}   

/* ==========================================================================
   Adjust icon position
   ========================================================================== */

.material-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}


/* ==========================================================================
   Adjust code
   ========================================================================== */

.mdc-code-example {
	display: flex;
	flex-direction: column;	
	justify-content: center;
	align-items: center;
	padding: 24px;
}

.mdc-code {
	flex: one;
	width: 100%;
	text-align: left;
}

/* ==========================================================================
   Adjust Image List
   ========================================================================== */

@media ( min-width : 840px) {
	.mdc-image-list--masonry {
		-webkit-column-count: var(--mdc-image-list--column-count-desktop, 5);
		column-count: var(--mdc-image-list--column-count-desktop, 5);
		-webkit-column-gap: var(--mdc-image-list--column-gap-desktop, 16px);
		column-gap: var(--mdc-image-list--column-gap-desktop, 16px);
	}
	
	.mdc-image-list--masonry > * {		
		margin-bottom: var(--mdc-image-list--column-gap-desktop, 16px);
	}
	
	.mdc-image-list:not(.mdc-image-list--masonry) {
		padding: calc(var(--mdc-image-list--column-gap-desktop, 16px) / 2);
	}
	
	.mdc-image-list:not(.mdc-image-list--masonry) > * {
		width: calc(100% / var(--mdc-image-list--column-count-desktop, 5) - var(--mdc-image-list--column-gap-desktop, 16px));
		margin: calc(var(--mdc-image-list--column-gap-desktop, 16px) / 2);
	}
}

@media (min-width: 480px) and (max-width: 839px) {
	.mdc-image-list--masonry {
		-webkit-column-count: var(--mdc-image-list--column-count-tablet, 3);
		column-count: var(--mdc-image-list--column-count-tablet, 3);
		-webkit-column-gap: var(--mdc-image-list--column-gap-tablet, 8px);
		column-gap: var(--mdc-image-list--column-gap-tablet, 8px);
	}
	
	.mdc-image-list--masonry > * {		
		margin-bottom: var(--mdc-image-list--column-gap-tablet, 8px);
	}
	
	.mdc-image-list:not(.mdc-image-list--masonry) {
		padding: calc(var(--mdc-image-list--column-gap-tablet, 8px) / 2);
	}
	
	.mdc-image-list:not(.mdc-image-list--masonry) > * {
		width: calc(100% / var(--mdc-image-list--column-count-tablet, 3) - var(--mdc-image-list--column-gap-tablet, 8px));
		margin: calc(var(--mdc-image-list--column-gap-tablet, 8px) / 2);
	}
}

@media (max-width: 479px) {
	.mdc-image-list--masonry {
		-webkit-column-count: var(--mdc-image-list--column-count-phone, 1);
		column-count: var(--mdc-image-list--column-count-phone, 1);
		-webkit-column-gap: var(--mdc-image-list--column-gap-phone, 8px);
		column-gap: var(--mdc-image-list--column-gap-phone, 8px);
	}
	
	.mdc-image-list--masonry > * {		
		margin-bottom: var(--mdc-image-list--column-gap-phone, 8px);
	}
	
	.mdc-image-list:not(.mdc-image-list--masonry) {
		padding: calc(var(--mdc-image-list--column-gap-phone, 8px) / 2);
	}
	
	.mdc-image-list:not(.mdc-image-list--masonry) > * {
		width: calc(100% / var(--mdc-image-list--column-count-phone, 1) - var(--mdc-image-list--column-gap-phone, 8px));
		margin: calc(var(--mdc-image-list--column-gap-phone, 8px) / 2);
	}
}

/* ==========================================================================
   Adjust Snackbar
   ========================================================================== */

.mdc-snackbar {
	z-index: 1;		
}

/* ==========================================================================
   Adjust tab
   ========================================================================== */

.mdc-tab,
.mdc-tab-bar-scroller__indicator,
.mdc-tab-bar-scroller__indicator__inner,
.mdc-tab__icon {
	color: var(--mdc-tab-bar--color, var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54))) !important;
	opacity: 0.82;
}

.mdc-tab:focus,
.mdc-tab--active,
.mdc-tab-bar-scroller__indicator__inner:hover {
	opacity: 1.0;
}

.mdc-tab--active,
.mdc-tab--active .mdc-tab__icon {
	color: var(--mdc-tab-bar--active-color, var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87))) !important;
}

.mdc-tab-bar__indicator {
	background-color: var(--mdc-tab-bar--active-color, var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87))) !important;
}

.mdc-tab.mdc-ripple-upgraded::after,
.mdc-tab.mdc-ripple-upgraded::before {
    background-color: var(--mdc-tab-bar--ripple-color, var(--mdc-theme-ripple-on-background)) !important;
}

.mdc-tab--active.mdc-ripple-upgraded::after,
.mdc-tab--active.mdc-ripple-upgraded::before {
    background-color: var(--mdc-tab-bar--active-ripple-color, var(--mdc-theme-ripple-on-background)) !important;
}


/* ==========================================================================
   Adjust drawer
   ========================================================================== */

.mdc-drawer--permanent,
.mdc-drawer--persistent {
	height: 100%;
	overflow-y: auto; 
}

/* ==========================================================================
   Adjust dialog color
   ========================================================================== */

.mdc-dialog__footer__button {
	padding: 0 16px 0 16px;
}

.mdc-dialog__header {
	color: var(--mdc-theme-text-primary-on-background);
	background-color: var(--mdc-theme-background);
}

.mdc-dialog__body {
	color: var(--mdc-theme-text-secondary-on-background);
	background-color:  var(--mdc-theme-background);
}

.mdc-dialog__footer {
	color: var(--mdc-theme-secondary);	
}

.mdc-dialog__footer .mdc-button--raised {
	color: var(--mdc-theme-text-primary-on-secondary);
	background-color: var(--mdc-theme-secondary);	
}

/* ==========================================================================
   Adjust list color
   ========================================================================== */
.mdc-list-item,
.mdc-list-item * {
	cursor: pointer;
}
   
.mdc-list-item .mdc-list-item__start-detail  {
	color: var(--mdc-theme-text-primary-on-background);
	margin-right: 16px;
}

.mdc-list-item .mdc-list-item__start-detail:not(.material-icons)  {
	width: 40px;
	height: 40px;
}

.mdc-list--avatar-list .mdc-list-item__start-detail:not(img) {
	width: 24px;
	height: 24px;
}

.mdc-list-divider {
	background-color: var(--mdc-theme-text-hint-on-background);
}

.mdc-list-group__subheader {
	color: var(--mdc-theme-text-secondary-on-background);
}

/* ==========================================================================
   Button
   ========================================================================== */

.mdc-button[dir="rtl"] .mdc-button__icon {
	margin-left: 8px;
	margin-right: 0px;
}

.mdc-button .mdc-button__icon {
	margin-left: 0px;
	margin-right: 8px;
}

.mdc-fab,
.mdc-icon-toggle {
	overflow: hidden;
}

/* ==========================================================================
   Icon toggle
   ========================================================================== */
.mdc-icon-toggle--disabled {
	opacity: 0.26;
}   

.mdc-icon-toggle.mdc-list-item__start-detail {
	width: 36px;
	height: 36px;
	margin-left: -6px;
}

.mdc-icon-toggle.mdc-list-item__end-detail {
	width: 36px;
	height: 36px;
	margin-right: -6px;
}


/* ==========================================================================
   Floating FAB
   ========================================================================== */

.mdc-fab--fixed {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	z-index: 4;

	-webkit-transition: bottom 0.5s;    	
    transition: bottom 0.5s;
}

.mdc-fab--fixed > label:empty {
	display: none;
}

@media ( min-width : 1024px) {
	.mdc-fab--fixed {
		bottom: 1.5rem;
		right: 1.5rem;
	}
}

/* ==========================================================================
   Chip
   ========================================================================== */

.mdc-chip-set:not(.mdc-chip-set--filter) .mdc-chip__icon--leading:empty,
.mdc-chip__icon--trailing:empty {
	/* display: none; */
}

/* ==========================================================================
   Card
   ========================================================================== */
.mdc-card__content {
	width: 100%;
}
.mdc-card__content:empty {
	display: none;
}

/* ==========================================================================
   Shape deafults
   ========================================================================== */

.mdc-shape-container__corner--top-left,
.mdc-shape-container__corner--top-right,
.mdc-shape-container__corner--bottom-left,
.mdc-shape-container__corner--bottom-right {	
	width: 16px;
	height: 16px;
	background-color: var(--mdc-theme-background);
}

.mdc-shape-container__corner--top-left {	
	top: -8px;
	left: -8px;
}

.mdc-shape-container__corner--top-right {	
	top: -8px;
	right: -8px;
}

.mdc-shape-container__corner--bottom-left {	
	bottom: -8px;
	left: -8px;
}

.mdc-shape-container__corner--bottom-right {	
	bottom: -8px;
	right: -8px;
}

/* ==========================================================================
   Snackbars
   ========================================================================== */

/* ---------------------
   Ajust for Snackbars
   ---------------------  */
.mdc-snackbar--action-on-bottom .mdc-snackbar__text {
	margin: 16px 0 16px 0 !important;
	width: 100%;
	text-align: left;
}

.mdc-snackbar__action-button {
	color: var(--mdc-theme-secondary);
}
   
.mdc-snackbar--multiline .mdc-snackbar__text {
	margin: 16px 0 16px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-height: 1.5rem;
	height: calc(1.5rem * 2);
}

@media (max-width: 599px) {

	.mdc-snackbar--multiline.mdc-snackbar--active ~ .mdc-fab--fixed {		
		bottom: calc(1rem + 80px);
		
		-webkit-transition: bottom 0.25s;
		transition: bottom 0.25s;
	}

	.mdc-snackbar--active ~ .mdc-fab--fixed {	
		bottom: calc(1rem + 48px);
		
		-webkit-transition: bottom 0.25s;    
		transition: bottom 0.25s;    
	}
	
}

/* ==========================================================================
   Material disabled adjust
   ========================================================================== */
.material-icons--disabled {
	opacity: 0.26;
}

/* ==========================================================================
   Form fields disabled adjust
   ========================================================================== */
.mdc-form-field[disabled] {
	opacity: 0.26;
}

.mdc-form-field input,
.mdc-form-field label,
.mdc-form-field textarea {
	color: var(--mdc-theme-text-primary-on-background);
    text-shadow: none;
}

/* ==========================================================================
   RadioButton color adjust
   ========================================================================== */

.mdc-radio__native-control:checked + .mdc-radio__background .mdc-radio__inner-circle {   
    background-color: var(--mdc-theme-secondary);
}

.mdc-radio__outer-circle {    
    border-color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
}

.mdc-radio__native-control:checked + .mdc-radio__background .mdc-radio__outer-circle {
	border-color: var(--mdc-theme-secondary);
}

/* ==========================================================================
   Checkbox color adjust
   ========================================================================== */

/* ==========================================================================
   Slider color adjust
   ========================================================================== */

.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__track {
    background-color: #018786;
    /* @alternate */
    background-color: var(--mdc-slider--color, var(--mdc-theme-secondary, #018786)); }
  .mdc-slider:not(.mdc-slider--disabled) .mdc-slider__track-container {
    background-color: var(--mdc-slider--background-color, rgba(1, 135, 134, 0.26)); }
  .mdc-slider:not(.mdc-slider--disabled) .mdc-slider__track-marker::after,
  .mdc-slider:not(.mdc-slider--disabled) .mdc-slider__track-marker-container::after {
    background-color: #018786;
    /* @alternate */
    background-color: var(--mdc-slider--color, var(--mdc-theme-secondary, #018786)); }
  .mdc-slider:not(.mdc-slider--disabled) .mdc-slider__thumb {
    fill: #018786;
    /* @alternate */
    fill: var(--mdc-slider--color, var(--mdc-theme-secondary, #018786));
    stroke: #018786;
    /* @alternate */
    stroke: var(--mdc-slider--color, var(--mdc-theme-secondary, #018786)); }
  .mdc-slider:not(.mdc-slider--disabled) .mdc-slider__focus-ring {
    background-color: #018786;
    /* @alternate */
    background-color: var(--mdc-slider--color, var(--mdc-theme-secondary, #018786)); }
  .mdc-slider:not(.mdc-slider--disabled) .mdc-slider__pin {
    background-color: #018786;
    /* @alternate */
    background-color: var(--mdc-slider--color, var(--mdc-theme-secondary, #018786)); }
  .mdc-slider:not(.mdc-slider--disabled) .mdc-slider__pin {
    color: white;
    /* @alternate */
    color: var(--mdc-slider--text-color, var(--mdc-theme-text-primary-on-dark, white)); }

/* ==========================================================================
   Switch color adjust
   ========================================================================== */
.mdc-switch__background {
	background-color: var(--mdc-theme-text-hint-on-background, rgba(0, 0, 0, 0.38));
}   

.mdc-switch__native-control:checked ~ .mdc-switch__background::before {
	background-color: var(--mdc-theme-secondary, #3f51b5);
	opacity: 0.24;
}

.mdc-switch__native-control:checked ~ .mdc-switch__background .mdc-switch__knob,
.mdc-switch__native-control:checked ~ .mdc-switch__background .mdc-switch__knob::before {
  	background-color: var(--mdc-theme-secondary, #3f51b5);
}
   
.mdc-switch__native-control:not(checked) ~ .mdc-switch__background .mdc-switch__knob,
.mdc-switch__native-control:not(checked) ~ .mdc-switch__background .mdc-switch__knob::before {
  	background-color:  #ddd;
}

/* ==========================================================================
   Textfield color adjust
   ========================================================================== */

.mdc-textfield,
.mdc-textfield__input,
.mdc-textfield__label {
	width: 100%;
}

.mdc-textfield--box.mdc-textfield--focused .mdc-textfield__bottom-line,
.mdc-textfield--focused.mdc-textfield--upgraded:not(.mdc-textfield--fullwidth):not(.mdc-textfield--multiline):not(.mdc-textfield--box)::after {
    background-color: var(--mdc-theme-secondary, #3f51b5);
}

.mdc-textfield--focused .mdc-textfield__label {
  	color: var(--mdc-theme-secondary, #3f51b5) !important; 
}

.mdc-textfield__input:focus,
.mdc-textfield--multiline .mdc-textfield__input:focus,
.mdc-textfield:not(.mdc-textfield--upgraded) .mdc-textfield__input:focus {
    border-color: var(--mdc-theme-secondary, #3f51b5);
}

.mdc-textfield:not(.mdc-textfield--disabled):not(.mdc-textfield--focused) .mdc-textfield__input:required:invalid + .mdc-textfield__label {
    color: #d50000 !important; 
}

.mdc-textfield--disabled .mdc-textfield__input {
	color: var(--mdc-theme-text-primary-on-background);
}

.mdc-textfield:not(.mdc-textfield--disabled) .mdc-textfield__input:required:invalid {
	border-bottom: 1px solid #d50000;
}

.mdc-textfield:not(.mdc-textfield--disabled) .mdc-textfield__input {
	border-bottom: 1px solid var(--mdc-theme-text-hint-on-background, rgba(0, 0, 0, 0.38));
}

/* -------------------------------------------------------------------
 * Adjust help text margins
 * ------------------------------------------------------------------- 
 */
 
 .mdc-textfield--disabled + .mdc-textfield-helptext {
 	color: var(--mdc-theme-text-disabled-on-background);
 }
 
.mdc-textfield-helptext {
	margin-top: -4px;
	margin-left: -4px;	
	max-width: 100%;
	overflow: hidden;
  	text-overflow: ellipsis;
}

/* -------------------------------------------------------------------
 * If Textfield has a placeholder the label it make the label to up
 * ------------------------------------------------------------------- 
 */

.mdc-textfield__input[placeholder]:not([placeholder=""]) + .mdc-textfield__label {
      -webkit-transform: translateY(-100%) scale(0.75, 0.75);
              transform: translateY(-100%) scale(0.75, 0.75);
}

.mdc-textfield--dense .mdc-textfield__input[placeholder]:not([placeholder=""]) + .mdc-textfield__label {
    -webkit-transform: translateY(calc(-100% - 2px)) scale(0.923, 0.923);
            transform: translateY(calc(-100% - 2px)) scale(0.923, 0.923); 
}

/* ==========================================================================
   TextArea color adjust
   ========================================================================== */

.mdc-textfield--multiline .mdc-textfield__input {
    border: 1px solid var(--mdc-theme-text-hint-on-background, rgba(0, 0, 0, 0.38));
}

.mdc-textfield--multiline .mdc-textfield__input:focus {
	border-color: var(--mdc-theme-secondary, #3f51b5); 
}

/* ==========================================================================
   Layout Grid adjust
   ========================================================================== */
.mdc-layout-grid {
	width: 100%;
}

.mdc-layout-grid__cell {
	display: flex;
	align-content: flex-start;
	align-items: flex-start;
	justify-content: flex-start;
}

/* ==========================================================================
   Linear Progress adjust
   ========================================================================== */

.mdc-linear-progress .mdc-linear-progress__bar-inner {
    background-color: var(--mdc-theme-secondary, #ff4081); 
}

.mdc-linear-progress__buffering-dots {
	right: 0;
	background-image: radial-gradient(ellipse 4px 4px at center, var(--mdc-theme-text-hint-on-background, #e6e6e6) 0%, var(--mdc-theme-text-hint-on-background, #e6e6e6) 47%, var(--mdc-theme-text-hint-on-background, #e6e6e6) 47%, transparent 47%, transparent 48%);
	opacity: 0.75;
}

.mdc-linear-progress--reversed .mdc-linear-progress__buffering-dots {
	left: 0;
}

.mdc-linear-progress__buffer {
	background-color: var(--mdc-theme-text-hint-on-background, #e6e6e6);
}

/* ==========================================================================
   Menu adjust
   ========================================================================== */

/* ==========================================================================
   Configure Ripple background
   ========================================================================== */
.mdc-ripple-surface--color::before, 
.mdc-ripple-surface--color::after {
	background-color: var(--mdc-ripple--color);
}

.mdc-icon-button.mdc-ripple-surface--color::before, 
.mdc-icon-button.mdc-ripple-surface--color::after {
	background-color: var(--mdc-ripple--color, var(--mdc-theme-text-icon-on-background, rgba(0, 0, 0, 0.38)));
}

.mdc-icon-button[disabled].mdc-ripple-surface--color::before, 
.mdc-icon-button[disabled].mdc-ripple-surface--color::after {
	background-color: transparent;
}

.mdc-button--raised.mdc-ripple-surface--color::before, 
.mdc-button--raised.mdc-ripple-surface--color::after,
.mdc-button--unelevated.mdc-ripple-surface--color::before, 
.mdc-button--unelevated.mdc-ripple-surface--color::after {
	background-color: var(--mdc-ripple--color, var(--mdc-theme-text-primary-on-primary));
}

.mdc-button:not(.mdc-button--raised):not(.mdc-button--unelevated).mdc-ripple-surface--color::before, 
.mdc-button:not(.mdc-button--raised):not(.mdc-button--unelevated).mdc-ripple-surface--color::after {
	background-color: var(--mdc-ripple--color, var(--mdc-theme-primary));
}

.mdc-fab.mdc-ripple-surface--color::before, 
.mdc-fab.mdc-ripple-surface--color::after {
	background-color: var(--mdc-ripple--color, var(--mdc-theme-text-primary-on-secondary));
}

/* ==========================================================================
   Configure placeholder color
   ========================================================================== */

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: var(--mdc-theme-text-primary-on-background) !important;
	opacity: 0.54 !important;
}
::-moz-placeholder { /* Firefox 19+ */
	color: var(--mdc-theme-text-primary-on-background) !important;
	opacity: 0.54 !important;
}
:-ms-input-placeholder { /* IE 10+ */
	color: var(--mdc-theme-text-primary-on-background) !important;
	opacity: 0.54 !important;
}
:-moz-placeholder { /* Firefox 18- */
	color: var(--mdc-theme-text-primary-on-background) !important;
	opacity: 0.54 !important;
}

/* ==========================================================================
   Configure the scrollsbars
   ========================================================================== */
::-webkit-scrollbar {
	width: 6px; /* for vertical scrollbars */
	height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
	background-color: var(--mdc-theme-text-primary-on-primary);
}

::-webkit-scrollbar-thumb {
	border-radius: 0px !important;
	background: var(--mdc-theme-secondary);
}