html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	background-color: var(--mdc-theme-background);
	zoom: var(--mdc-zoom);
}

i, button, a {
	cursor: pointer;
	border: none;
    outline: none;
}

i {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
	transform: rotate(0.03deg);
	/* Disable text selection */
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* ==========================================================================
   Material disabled adjust
   ========================================================================== */
[disabled] {
    filter: grayscale(100%);
    pointer-events: none;
    cursor: default;
	opacity: var(--mdc-disabled-opacity);} 

/* ==========================================================================
   Default colors
   ========================================================================== */
label {
	color: var(--mdc-theme-text-primary-on-background);}

a:link,
a:visited,
a:hover,
a:active {
    color: var(--mdc-theme-secondary);
}

/* ==========================================================================
   Set attribute empty to hide element 
   ========================================================================== */	
*[empty]{
	display: none;}

/* ==========================================================================
   Set default font family
   ========================================================================== */
html {
	font-size: var(--mdc-root-font-size);}   

html, 
body,
label,
h1, 
h2, 
h3, 
h4,
h5,
h6,
text,
textarea,
.mdc-button,
.mdc-chip,
.mdc-dialog__header__title,
.mdc-dialog__body,
.mdc-drawer .mdc-list-item,
.mdc-drawer__title,
.mdc-drawer__subtitle,
.mdc-fab--extended,
.mdc-floating-label,
.mdc-form-field,
.mdc-grid-tile__support-text,
.mdc-image-list__label,
.mdc-list,
.mdc-list-item__secondary-text,
.mdc-list-group__subheader,
.mdc-list-item,
.mdc-menu .mdc-list-item,
.mdc-menu-surface .mdc-list-item,
.mdc-select__native-control,
.mdc-slider__pin-value-marker,
.mdc-snackbar__text,
.mdc-snackbar__action-button,
.mdc-tab,
.mdc-text-field-helper-text,
.mdc-text-field__input,
.mdc-toolbar__title,
.mdc-toolbar--flexible-default-behavior .mdc-toolbar__title,
.mdc-top-app-bar__title,
.mdc-typography,
.mdc-typography--headline1,
.mdc-typography--headline2,
.mdc-typography--headline3,
.mdc-typography--headline4,
.mdc-typography--headline5,
.mdc-typography--headline6,
.mdc-typography--subtitle1,
.mdc-typography--subtitle2,
.mdc-typography--body1,
.mdc-typography--body2,
.mdc-typography--caption,
.mdc-typography--button,
.mdc-typography--overline {
	font-family: var(--mdc-font-family);
}

/* ==========================================================================
   Configure the text selection
   ========================================================================== */
::-moz-selection { 
	color: var(--mdc-select-text-ink-color);
	background: var(--mdc-select-text-fill-color); }
	
::selection {
	color: var(--mdc-select-text-ink-color);
	background: var(--mdc-select-text-fill-color); }

/* ==========================================================================
   Configure the scrollsbars
   ========================================================================== */
::-webkit-scrollbar {
	width: var(--mdc-scrollbar-width); /* for vertical scrollbars */
	height: var(--mdc-scrollbar-width); /* for horizontal scrollbars */}

::-webkit-scrollbar-track {
	background-color: var(--mdc-scrollbar-track-fill);}

::-webkit-scrollbar-thumb {
	border-radius: var(--mdc-scrollbar-thumb-corner) !important;
	background: var(--mdc-scrollbar-thumb-fill);}