/* ==========================================================================
   Extra to use Roboto Mono
   ========================================================================== */
.catalog-title {
	font-family: "Roboto Mono", monospace;}
.google-sans {
	font-family: "Google Sans", monospace;}
	
/* ==========================================================================
   Extra align
   ========================================================================== */
.left-align {
	margin-left: 0;
	margin-right: auto;}
.center-align {
	margin-left: auto;
	margin-right: auto;}
.right-align {
	margin-left: auto;
	margin-right: 0;}

/* ==========================================================================
   Aspect Ratio
   ========================================================================== */
.mdc-aspect-1x1 {
	padding-bottom: calc(100%/ 1);}
.mdc-aspect-16x9 {
	padding-bottom: calc(100%/ 1.77778);}
.mdc-aspect-3x2 {
	padding-bottom: calc(100%/ 1.5);}
.mdc-aspect-2x3 {
	padding-bottom: calc(100%/ 0.66667);}
.mdc-aspect-4x3 {
	padding-bottom: calc(100%/ 1.33333);}
.mdc-aspect-3x4 {
	padding-bottom: calc(100%/ 0.75);}
	
/* ==========================================================================
   Extra hide on classes
   ========================================================================== */
@media (max-width: 479px) {
	.mdc-hide-on-phone {
		display: none;}}

@media (min-width: 480px) and (max-width: 839px) {
	.mdc-hide-on-tablet {
		display: none;}}

@media (min-width: 840px) {
	.mdc-hide-on-desktop {
		display: none;}}

/* ==========================================================================
   Adjust code
   ========================================================================== */
.mdc-code-example {
	display: flex;
	flex-direction: column;	
	justify-content: center;
	align-items: center;
	padding: 24px;}

.mdc-code {
	flex: one;
	width: 100%;
	text-align: left;}

/* ==========================================================================
   Animation to change icon
   ========================================================================== */
.material-icons__change_animation {
	animation: --mdc-change_icon_animation 400ms alternate ease-in;}	
	        
@keyframes --mdc-change_icon_animation {
  0%   {transform: scale(1);}
  50% {transform: scale(0);}
  100%   {transform: scale(1);}
}	        

/* ==========================================================================
   Animation on show
   ========================================================================== */
@keyframes mdc-animation--on-show {
  from {
    transform: scale(0);
    opacity: 0;}
}

/* ==========================================================================
   File Upload
   ========================================================================== */	
.mdc-file-upload {
	display: none !important;}

/* ==========================================================================
   Side Sheet
   ========================================================================== */	
.mdc-side-sheet {
	position: relative;
	width: var(--mdc-side-sheet--content-width);
	max-width: 0;
	height: 100%;
	display: flex;
	overflow: hidden;		
	-webkit-transition-duration: 250ms, 250ms;
	   -moz-transition-duration: 250ms, 250ms;
		 -o-transition-duration: 250ms, 250ms;
			transition-duration: 250ms, 250ms;	
	-webkit-transition-property: max-width, transform;
	   -moz-transition-property: max-width, transform;
		 -o-transition-property: max-width, transform;
			transition-property: max-width, transform;	
	-webkit-transition-timing-function: ease-in-out, cubic-bezier(0.4, 0, 0.2, 1);
	   -moz-transition-timing-function: ease-in-out, cubic-bezier(0.4, 0, 0.2, 1);
		 -o-transition-timing-function: ease-in-out, cubic-bezier(0.4, 0, 0.2, 1);
	        transition-timing-function: ease-in-out, cubic-bezier(0.4, 0, 0.2, 1);		
	-webkit-transform: translateX(100%);
	   -moz-transform: translateX(100%);
	     -o-transform: translateX(100%);
	        transform: translateX(100%);}
	        	        
.mdc-side-sheet-opened {
	max-width: var(--mdc-side-sheet--content-width);
	-webkit-transform: translateX(0);
	   -moz-transform: translateX(0);
	     -o-transform: translateX(0);
	        transform: translateX(0);}

.mdc-side-sheet--content {
	color: var(--mdc-side-sheet--ink-color);	
	background-color: var(--mdc-side-sheet--fill-color);
	display: flex;
	width: var(--mdc-side-sheet--content-width);
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	flex-direction: column;	
	flex-shrink: 0;
  	box-sizing: border-box;
	border-left: 1px solid rgba(0, 0, 0, 0.12);}
	.mdc-side-sheet--content {
	color: var(--mdc-side-sheet--ink-color);	
	/* Radio button */
	--mdc-radio-unchecked-color: var(--mdc-side-sheet--ink-color);
	--mdc-radio-label-color: var(--mdc-side-sheet--ink-color);	
	/* Checkbox */
	--mdc-checkbox-unchecked-color: var(--mdc-side-sheet--ink-color);
	--mdc-checkbox-label-color: var(--mdc-side-sheet--ink-color);		
	/* Chip */
	--mdc-chip-container-fill-color: var(--mdc-side-sheet--ink-color);
	--mdc-chip-text-color: var(--mdc-side-sheet--ink-color);
	--mdc-chip-icon_leading-color: var(--mdc-side-sheet--ink-color);
	--mdc-chip-icon_trailing-color: var(--mdc-side-sheet--ink-color);
	--mdc-chip-icon_selected-color: var(--mdc-side-sheet--ink-color);	
	/* List */
	--mdc-list-item-graphic-ink-color: var(--mdc-side-sheet--ink-color);
	--mdc-list-item-primary-text-ink-color: var(--mdc-side-sheet--ink-color);
	--mdc-list-item-secondary-text-ink-color: var(--mdc-side-sheet--ink-color);
	--mdc-list-item-meta-ink-color: var(--mdc-side-sheet--ink-color);}
	.mdc-side-sheet--content label {
	color: var(--mdc-side-sheet--ink-color);}
	
.mdc-side-sheet--scrim{
	flex: 1;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.32);}

@media (max-width: 479px) {
	.mdc-side-sheet-opened {
	position: fixed;
	z-index: 7;
	top: 0;
	right: 0;
	height: 100vh;	
	width: 100vw;
	max-width: 100vw;}
	.mdc-side-sheet-opened .mdc-side-sheet--scrim {
	display: flex;}
	.mdc-side-sheet-opened .mdc-side-sheet--content{
	box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);}
}

/* Padding adjust when is preceded by a mdc-top-app-bar element */
.mdc-top-app-bar:not(.mdc-top-app-bar--prominent):not(.mdc-top-app-bar--dense):not(.mdc-top-app-bar--short-collapsed) ~ .mdc-side-sheet .mdc-side-sheet--content {
	padding-top: 64px;}
	.mdc-top-app-bar.mdc-top-app-bar--dense:not(.mdc-top-app-bar--prominent) ~ .mdc-side-sheet .mdc-side-sheet--content {
	padding-top: 48px;}
	.mdc-top-app-bar.mdc-top-app-bar--prominent:not(.mdc-top-app-bar--dense) ~ .mdc-side-sheet .mdc-side-sheet--content {
	padding-top: 128px;}
	.mdc-top-app-bar.mdc-top-app-bar--dense.mdc-top-app-bar--prominent ~ .mdc-side-sheet .mdc-side-sheet--content {
	padding-top: 96px;}
	@media (max-width: 959px) and (orientation: landscape) {
      .mdc-top-app-bar:not(.mdc-top-app-bar--prominent):not(.mdc-top-app-bar--dense):not(.mdc-top-app-bar--short-collapsed) ~ .mdc-side-sheet .mdc-side-sheet--content{
	padding-top: 48px;}}
    @media (max-width: 599px) {
      .mdc-top-app-bar:not(.mdc-top-app-bar--prominent):not(.mdc-top-app-bar--dense):not(.mdc-top-app-bar--short-collapsed) ~ .mdc-side-sheet .mdc-side-sheet--content {
	padding-top: 56px;}}
	@media (max-width: 479px) {
	.mdc-top-app-bar:not(.mdc-top-app-bar--prominent):not(.mdc-top-app-bar--dense):not(.mdc-top-app-bar--short-collapsed) ~ .mdc-side-sheet .mdc-side-sheet--content {
	padding-top: 0;}}

/* ==========================================================================
   Tooltip
   ========================================================================== */
.mdc-tooltip {
	font-size: 0.60rem;
	line-height: 0.70rem;
	z-index: 8;
	position: fixed;
	min-width: 5em;
	margin: 8px 16px 8px 16px;
	padding: 8px;
	background: var(--mdc-tooltip--fill-color);
	color: var(--mdc-tooltip--ink-color);
	border-radius: var(--mdc-rounded-border-radius);
	text-align: center;
	pointer-events: none;	
	-webkit-animation: var(--mdc-animation--on-show);
	   -moz-animation: var(--mdc-animation--on-show);
	     -o-animation: var(--mdc-animation--on-show);
	        animation: var(--mdc-animation--on-show);}
	.mdc-tooltip:empty {
	display: none; }

/* ==========================================================================
   Banner
   ========================================================================== */
.mdc-banner {
	overflow: hidden;
	width: 100%;}
.mdc-banner-navigation {
	position: relative;
	width: 100%;
	margin-top: -148px;	
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	flex-wrap: wrap-reverse;
	overflow: hidden;
	background-color: var(--mdc-banner--fill-color);
	-webkit-transition-duration: var(--mdc-banner--animation-duration);
	   -moz-transition-duration: var(--mdc-banner--animation-duration);
		 -o-transition-duration: var(--mdc-banner--animation-duration);
			transition-duration: var(--mdc-banner--animation-duration);
	-webkit-transition-property: margin-top;
	   -moz-transition-property: margin-top;
		 -o-transition-property: margin-top;
			transition-property: margin-top;	
	-webkit-transition-timing-function: ease-out;
	   -moz-transition-timing-function: ease-out;
		 -o-transition-timing-function: ease-out;
	        transition-timing-function: ease-out;}
	.mdc-banner-vertical{
	flex-direction: column-reverse;}
	.mdc-banner-opened{
	margin-top: 0;}
	.mdc-banner-navigation:not(.mdc-banner-vertical) .mdc-list-divider:first-child {
	display: none;}
	.mdc-banner-vertical .mdc-list-divider:last-child {
	display: none;}		
.mdc-banner--content {
	flex: 1;
	flex-shrink: 0;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: flex-start;
	padding: 16px;
	padding-right: 90px;}
	.mdc-banner-navigation:not(.mdc-banner-vertical) .mdc-banner--actions:empty + .mdc-banner--content {
	padding-right: 16px;}	
	.mdc-banner-vertical .mdc-banner--content {
	flex: none;
	width: calc(100% - 32px);
	padding-right: 16px;}
	.mdc-banner-vertical .mdc-banner--actions {
	width: calc(100% - 8px);}
.mdc-banner--avatar {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	width: 40px;
	min-width: 40px;
	max-width: 40px;
	height: 40px;
	min-height: 40px;
	max-height: 40px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 16px;
	margin-top: 8px;
	margin-bottom: 8px;}
	.mdc-banner--avatar:empty{
	display: none;}
	.mdc-banner--avatar > .material-icons,
	.mdc-banner--avatar > * {
	width: 100%;
	height: 100%;
	font-size: 28px;
	color: var(--mdc-banner--avatar-ink-color);
	background-color: var(--mdc-banner--avatar-fill-color);}	
.mdc-banner--label {
	flex: 1;
	flex-shrink: 0;
	color: var(--mdc-banner--ink-color);
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: var(--mdc-banner--label_lines_number);
	max-height: calc(1.25rem * var(--mdc-banner--label_lines_number));}			
.mdc-banner--actions {
	display: flex;
	flex-shrink: 0;
	flex-direction: row-reverse;
	align-content: center;
	align-items: center;
	justify-content: flex-start;
	padding: 4px;}
	.mdc-banner--actions:empty{
	display: none;}
	.mdc-banner-vertical .mdc-banner--actions {
	width: calc(100% - 8px);}
	.mdc-banner--actions > * {
	margin: 4px;}   

/* ==========================================================================
   Config default component content
   ========================================================================== */
.mdc-content {
	flex: one;
	align-self: auto;
	flex-grow: 1;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	align-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;	
	overflow: visible;
	overflow-x: hidden;
	position: relative;}
	
/* ==========================================================================
   Circular Progress
   ========================================================================== */
.mdc-circular-progress[disabled] {
	opacity: var(--mdc-disabled-opacity);}
.mdc-circular-progress {
	width: var(--mdc-circular-progress-width);
 	height: var(--mdc-circular-progress-width);
 	position: relative;
 	margin: 0;
 	padding: 0;
 	border-radius: 50%;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;}
.mdc-circular-progress__loader {
	width: 100%;
	height: 100%;
	transform-origin: center center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 50%;}
.mdc-circular-progress:not(.mdc-circular-progress--indeterminate) .mdc-circular-progress__loader {	
	-webkit-transform: rotate(var(--mdc-circular-progress-start-angle));
	   -moz-transform: rotate(var(--mdc-circular-progress-start-angle));
	     -o-transform: rotate(var(--mdc-circular-progress-start-angle));
	        transform: rotate(var(--mdc-circular-progress-start-angle));}
.mdc-circular-progress__track {
	stroke-width: var(--mdc-circular-progress-stroke-width);
	stroke: var(--mdc-circular-progress-track-color);
	opacity: var(--mdc-track-opacity);}
.mdc-circular-progress__path {
	stroke-width: var(--mdc-circular-progress-stroke-width);
	stroke-dashoffset: 0;
	stroke-linecap: square;
	stroke: var(--mdc-circular-progress-indicator-color);}
.mdc-circular-progress:not(.mdc-circular-progress--indeterminate) .mdc-circular-progress__path[animate] {
	-webkit-transition: stroke-dashoffset 400ms linear;
	   -moz-transition: stroke-dashoffset 400ms linear;
	     -o-transition: stroke-dashoffset 400ms linear;
	        transition: stroke-dashoffset 400ms linear;}
.mdc-circular-progress--indeterminate .mdc-circular-progress__loader {
	-webkit-animation: rotate 2s linear infinite;
	   -moz-animation: rotate 2s linear infinite;
	     -o-animation: rotate 2s linear infinite;
	        animation: rotate 2s linear infinite;}
.mdc-circular-progress--indeterminate .mdc-circular-progress__path {
	stroke-dasharray: 1, 200;	
	stroke-linecap: round;
	-webkit-animation: dash 1.5s ease-in-out infinite;
	   -moz-animation: dash 1.5s ease-in-out infinite;
	     -o-animation: dash 1.5s ease-in-out infinite;
	        animation: dash 1.5s ease-in-out infinite;}
.mdc-circular-progress--indeterminate .mdc-circular-progress__loader,	 
.mdc-circular-progress--indeterminate .mdc-circular-progress__path {
	-webkit-animation-direction: normal;
	   -moz-animation-direction: normal;
	     -o-animation-direction: normal;
	        animation-direction: normal;}	               
.mdc-circular-progress--reversed:not(.mdc-circular-progress--indeterminate) .mdc-circular-progress__loader,
.mdc-circular-progress--reversed:not(.mdc-circular-progress--indeterminate) .mdc-circular-progress__path, 
.mdc-circular-progress--reversed.mdc-circular-progress--indeterminate .mdc-circular-progress__loader,
.mdc-circular-progress--reversed.mdc-circular-progress--indeterminate .mdc-circular-progress__path {	
	-webkit-animation-direction: reverse;
	   -moz-animation-direction: reverse;
	     -o-animation-direction: reverse;
	        animation-direction: reverse;}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;}
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;}
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;}}

/* ==========================================================================
   Fab Progress
   ========================================================================== */	
.mdc-fab-progess {
	padding: 4px;
	--mdc-circular-progress-stroke-width: 8;
	--mdc-circular-progress-width: auto;
	-webkit-transition: box-shadow 400ms;
	   -moz-transition: box-shadow 400ms;
		 -o-transition: box-shadow 400ms;
			transition: box-shadow 400ms;}
	.mdc-fab-progess.mdc-fab--mini {
	padding: 3px;}	
.mdc-fab-progess .mdc-circular-progress__loader {
	z-index: 1;	
	-webkit-transition: opacity 400ms, box-shadow 400ms;
	   -moz-transition: opacity 400ms, box-shadow 400ms;
		 -o-transition: opacity 400ms, box-shadow 400ms;
			transition: opacity 400ms, box-shadow 400ms;}	
	.mdc-fab-progess[progress='0']:not(.mdc-circular-progress--indeterminate) .mdc-circular-progress__loader {
	opacity: 0;}	
.mdc-fab-progess .mdc-fab {
	z-index: 2;
	box-shadow: none;
	margin: 0;
	-webkit-transition: all 400ms;
	   -moz-transition: all 400ms;
		 -o-transition: all 400ms;
			transition: all 400ms;}			
.mdc-fab-progess.mdc-circular-progress--indeterminate,			
.mdc-fab-progess[progress='0']:not(.mdc-circular-progress--indeterminate) .mdc-fab,
.mdc-fab-progess:not([progress='0']):not(.mdc-circular-progress--indeterminate) {
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);}
.mdc-list-item__meta.mdc-circular-progress,
.mdc-list-item__meta.mdc-fab-progess,
.mdc-list-item__meta.mdc-fab-progess .mdc-fab {
	--mdc-circular-progress-indicator-color: var(--mdc-list-item-selected-meta-ink-color);
	--mdc-circular-progress-track-color: var(--mdc-list-item-meta-ink-color);
	--mdc-fab-fill-color: transparent;
	--mdc-fab-ink-color: var(--mdc-list-item-meta-ink-color);
	box-shadow: 0;
	box-shadow: none !important;}
.mdc-list-item__meta.mdc-fab-progess .mdc-fab {
	width: 40px;
	height: 40px;}

/* ==========================================================================
   Color palette
   ========================================================================== */
.mdc-color-palette {
	border-radius: var(--mdc-rounded-border-radius);
	display: flex;
	flex-direction: column;}
.mdc-color-palette__title:first-child {
	flex: one;}
.mdc-color-palette__button_group {
	display: flex;}
.mdc-color-palette__label {
	background-color: var(--mdc-theme-surface);
	color: var(--mdc-theme-on-surface);
	font-size: .6rem;
	line-height: .6rem;
	text-align: center;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;}
.mdc-color-palette__label,
.mdc-color-palette__button {
	width: 28px;
	min-width: 28px;
	max-width: 28px;
	height: 28px;
	min-height: 28px;
	max-height: 28px;
	margin: 1px;
	cursor: pointer;
	transition: border-radius 0.3s;}
.mdc-color-palette__button[color='white']:not(.mdc-color-palette__button_selected),
.mdc-color-palette__button[color='transparent']:not(.mdc-color-palette__button_selected) {
	border: 1px solid rgba(127,127,127,0.5);}	
.mdc-color-palette__button:hover:not(.mdc-color-palette__button_selected) {
	border-radius: 8px;}
.mdc-color-palette__button_selected {
	transition: border-radius 0.3s;
	border-radius: 50%;
	border: 2px solid rgba(127,127,127,0.5);}
	
/* ==========================================================================
   DatePiker
   ========================================================================== */
.mdc-datepicker {
	width: 100%;
	min-width: var(--mdc-datepicker-width);	
	max-width: var(--mdc-datepicker-width);
	border-radius: var(--mdc-rounded-border-radius);
	border: 1px solid var(--mdc-datepicker-active-fill); 
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	-webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;}
	.mdc-datepicker__item {
	cursor: pointer;
	margin: var(--mdc-datepicker--item-margin);
	width: var(--mdc-datepicker--item-width);
	height: var(--mdc-datepicker--item-width);
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;	
	border-radius: 50%;
	position: relative;
	-webkit-animation: var(--mdc-animation--on-show);
	   -moz-animation: var(--mdc-animation--on-show);
	     -o-animation: var(--mdc-animation--on-show);
	        animation: var(--mdc-animation--on-show);}
	.mdc-datepicker__item-active {
	border-radius: 50%;}
	.mdc-datepicker__item_today:not(.mdc-datepicker__item-active):not(.mdc_datepicker__range--between) {
	border-width: 1px;
	border-style: solid;
	width: calc(var(--mdc-datepicker--item-width) - 2px);
	height: calc(var(--mdc-datepicker--item-width) - 2px);}
	.mdc-datepicker__item .mdc-datepicker__item--tooltip-indicator {
	border-radius: 50%;
	width: calc(var(--mdc-datepicker--item-width) / 6);
	height: calc(var(--mdc-datepicker--item-width) / 6);		
	position: absolute;
	margin: var(--mdc-datepicker--item-margin);
	top: var(--mdc-datepicker--item-margin);
	right: var(--mdc-datepicker--item-margin);}
	/* Arrows */
    .mdc-datepicker__actions {
	width: calc(100% - 8px);
	display: flex;
	padding: 4px;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	overflow-x: auto;		
	overflow-y: hidden;}
	.mdc-datepicker__actions:empty{
	display: none;}
	.mdc-datepicker__actions > * {
	margin: 4px;}
	.mdc-datepicker .mdc-datepicker__day-selector {
	padding-bottom: 0;} 
	.mdc-datepicker__action {
	width: 30px;
	height: 30px;}
	/* Years */
	.mdc-datepicker__items {
	width: 100%;
	display: flex;
	justify-content: center;	
	flex-wrap: wrap;
	height: auto;
	overflow: hidden;}	

.mdc-datepicker {
	background-color: var(--mdc-datepicker-fill);}
	.mdc-datepicker__header {
	background-color: var(--mdc-datepicker--header-fill);}
	.mdc-datepicker__header--year {
	color: var(--mdc-datepicker--header-ink);}
	.mdc-datepicker__header--date {
	color: var(--mdc-datepicker--header-ink);}
	.mdc-datepicker__header--month {
	color: var(--mdc-datepicker--header-ink);}
	.mdc-datepicker__day-selector--week--label {
	color: var(--mdc-datepicker-ink);}
	.mdc-datepicker__day-selector--month--label {
	color: var(--mdc-datepicker-ink);}
	.mdc-datepicker__action {
	--mdc-icon-button-ink-color: var(--mdc-datepicker-ink); }
	.mdc-datepicker__item {
	color: var(--mdc-datepicker-ink);}
	.mdc-datepicker__item_today:not(.mdc-datepicker__item-active):not(.mdc_datepicker__range--between) {
	color: var(--mdc-datepicker-active-fill);
	border-color: var(--mdc-datepicker-active-fill);}
	.mdc-datepicker__item .mdc-datepicker__item--tooltip-indicator {
	background-color: var(--mdc-datepicker-active-fill);}
	.mdc-datepicker__item-active .mdc-datepicker__item--tooltip-indicator {
	background-color: var(--mdc-datepicker-active-ink);}
	.mdc-datepicker__item-active {
	color: var(--mdc-datepicker-active-ink);
	background-color: var(--mdc-datepicker-active-fill);}
	.mdc_datepicker__range--between {
	color: var(--mdc-datepicker-active-ink);
	background-color: var(--mdc-datepicker-active-fill);}
	

.mdc-datepicker__header {
	width: calc(100% - 40px);
	display: flex;
	flex-direction: column;
	padding: 16px;
	padding-left: 24px;}
	.mdc-datepicker__header--year {
	width: 56px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding: 4;
	border-color: var(--mdc-datepicker--header-ink);
	border-width: 1px;
	border-style: solid;
	border-radius: 12px;
	cursor: pointer;}
	.mdc-datepicker__header--year.mdc-ripple-surface--color::before, 
	.mdc-datepicker__header--year.mdc-ripple-surface--color::after{
	background-color: var(--mdc-datepicker--header-ink);}
	.mdc-datepicker__header--date {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	cursor: pointer;}
	.mdc-datepicker__header .mdc-list-divider {
	--mdc-divider-color: var(--mdc-datepicker--header-ink);
	opacity: 1;}

.mdc-datepicker__header_period {
	flex-direction: row;}
	.mdc-datepicker__header_period--placeholder {
	opacity: .58;}
	.mdc-datepicker__header_period .mdc-datepicker__header--date {
	height: 36px;}
	.mdc-datepicker__header_period--circle {
	width: 6px;
	height: 6px;
	border: 2px solid var(--mdc-datepicker--header-ink);
	border-radius: 50%;}
	.mdc-datepicker__header_period--line {
	flex: 1;
	width: 0;
	border-right: 4px dotted var(--mdc-datepicker--header-ink);
	margin-top: 4px;
	margin-bottom: 4px;}
	.mdc-datepicker__header_period > div:first-child {
	width: 10px;
	padding-top: 14px;
	padding-bottom: 14px;
	margin-right: 24px; 
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;}
	.mdc-datepicker__header_period > div:last-child {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;}

.mdc-datepicker__day-selector {
	width: 100%;
	max-width: var(--mdc-datepicker-width);
	height: auto;
	padding: 8px;
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	flex-direction: column;	
    overflow: hidden;}
	.mdc-datepicker .mdc-datepicker__day-selector {
	padding-top: 0;}
	.mdc-datepicker__day-selector--month--label {
	flex: 1;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	cursor: pointer;}
	/* week */
	.mdc-datepicker__day-selector--week--content {
	width: 100%;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;}
	.mdc-datepicker__day-selector--week--label {
	width: var(--mdc-datepicker--item-width);
	height: var(--mdc-datepicker--item-width);
	margin-right: var(--mdc-datepicker--item-margin);
	margin-left: var(--mdc-datepicker--item-margin);
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	opacity: .5;}
	
.mdc-datepicker__month-selector {
	width: 100%;
	max-width: var(--mdc-datepicker-width);
	padding: 8px;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: center;
	overflow: hidden;}	
	.mdc-datepicker__month-selector .mdc-datepicker__item {
	text-transform: uppercase;
	width: 48px;
	height: 48px;}

.mdc-datepicker__year-selector {
	width: 100%;
	max-width: var(--mdc-datepicker-width);
	padding: 8px;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;}
	.mdc-datepicker__year-selector .mdc-datepicker__actions {
	justify-content: space-between;}
	.mdc-datepicker__year-selector .mdc-datepicker__item {
	width: 42px;
	height: 42px;}
	
.mdc_datepicker__range--min {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-right: 0;
	padding-right: var(--mdc-datepicker--item-margin);}
.mdc_datepicker__range--max {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: 0;
	padding-left: var(--mdc-datepicker--item-margin);}
.mdc_datepicker__range--between {
	border-radius: 0;
	margin-right: 0;
	margin-left: 0;
	padding-right: var(--mdc-datepicker--item-margin);
	padding-left: var(--mdc-datepicker--item-margin);
	opacity: .58;}

/* ==========================================================================
   DatePiker Dialog
   ========================================================================== */
.mdc-datepicker-dialog.mdc-dialog .mdc-dialog__surface {
	padding: 0;
	min-width: var(--mdc-datepicker-width);
	overflow: hidden;}
	.mdc-datepicker-dialog.mdc-dialog .mdc-dialog__title:empty  + .mdc-dialog__content {
  	padding-top: 0; }
  	.mdc-datepicker-dialog.mdc-dialog .mdc-dialog__content {
	padding: 0;
	overflow-x: hidden;}
	.mdc-datepicker-dialog.mdc-dialog .mdc-datepicker {
	border: none;
	border-radius: 0;
	min-height: 380px;}
	
/* ==========================================================================
   DatePiker Dialog
   ========================================================================== */	
.mdc-spreadsheet {
	width: 100%;
	overflow-x: auto;
	position: relative;}
.mdc-spreadsheet .jexcel {}   