/* ==========================================================================
   Extra to use Roboto Mono
   ========================================================================== */
.catalog-title {
	font-family: "Roboto Mono", monospace;}
.google-sans {
	font-family: "Google Sans", monospace;}
	
/* ==========================================================================
   Extra align
   ========================================================================== */
.left-align {
	margin-left: 0;
	margin-right: auto;}
.center-align {
	margin-left: auto;
	margin-right: auto;}
.right-align {
	margin-left: auto;
	margin-right: 0;}

/* ==========================================================================
   Aspect Ratio
   ========================================================================== */
.mdc-aspect-1x1 {
	padding-bottom: calc(100%/ 1);}
.mdc-aspect-16x9 {
	padding-bottom: calc(100%/ 1.77778);}
.mdc-aspect-3x2 {
	padding-bottom: calc(100%/ 1.5);}
.mdc-aspect-2x3 {
	padding-bottom: calc(100%/ 0.66667);}
.mdc-aspect-4x3 {
	padding-bottom: calc(100%/ 1.33333);}
.mdc-aspect-3x4 {
	padding-bottom: calc(100%/ 0.75);}
	
/* ==========================================================================
   Extra hide on classes
   ========================================================================== */
@media (max-width: 479px) {
	.mdc-hide-on-phone {
		display: none;}}

@media (min-width: 480px) and (max-width: 839px) {
	.mdc-hide-on-tablet {
		display: none;}}

@media (min-width: 840px) {
	.mdc-hide-on-desktop {
		display: none;}}

/* ==========================================================================
   Adjust code
   ========================================================================== */
.mdc-code-example {
	display: flex;
	flex-direction: column;	
	justify-content: center;
	align-items: center;
	padding: 24px;}

.mdc-code {
	flex: one;
	width: 100%;
	text-align: left;}

/* ==========================================================================
   Config default component content
   ========================================================================== */
.mdc-content {
	flex: one;
	align-self: auto;
	flex-grow: 1;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	align-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;	
	overflow: visible;
	overflow-x: hidden;
	position: relative;}

/* ==========================================================================
   Color palette
   ========================================================================== */
.mdc-color-palette {
	border-radius: var(--mdc-popup-border-radius);
	display: flex;
	flex-direction: column;}
.mdc-color-palette__title:first-child {
	flex: one;}
.mdc-color-palette__button_group {
	display: flex;}
.mdc-color-palette__label {
	font-size: .6rem;
	line-height: .6rem;
	text-align: center;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;}
.mdc-color-palette__label,
.mdc-color-palette__button {
	width: 28px;
	min-width: 28px;
	max-width: 28px;
	height: 28px;
	min-height: 28px;
	max-height: 28px;
	border: 1px solid rgba(127,127,127,0.5);
	cursor: pointer;
	transition: border-radius 0.3s;}
.mdc-color-palette__button:hover:not(.mdc-color-palette__button_selected) {
	border-radius: 8px;}
.mdc-color-palette__button_selected {
	transition: border-radius 0.3s;
	border-radius: 50%;}
	
/* ==========================================================================
   Calendar
   ========================================================================== */
:root{
	--mdc-calendar-ink: var(--mdc-theme-on-surface);
	--mdc-calendar-fill: var(--mdc-theme-surface);
	--mdc-calendar-active-ink: var(--mdc-theme-on-primary);
	--mdc-calendar-active-fill: var(--mdc-theme-primary);
	--mdc-calendar--header-ink: var(--mdc-theme-on-primary);
	--mdc-calendar--header-fill: var(--mdc-theme-primary);
	
	--mdc-calendar--item-width: 30px;
	--mdc-calendar--item-margin: 2px;
	--mdc-calendar-width: calc(8px + calc(7 * calc( var(--mdc-calendar--item-width) + calc(2 * var(--mdc-calendar--item-margin)))));
}  
.mdc-calendar {
	width: 100%;
	max-width: var(--mdc-calendar-width);
	border-radius: var(--mdc-popup-border-radius);
	border: 1px solid var(--mdc-calendar-active-fill); 
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	-webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;}
	.mdc-calendar__item {
	cursor: pointer;
	margin: var(--mdc-calendar--item-margin);
	width: var(--mdc-calendar--item-width);
	height: var(--mdc-calendar--item-width);
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;	
	border-radius: 50%;}
	.mdc-calendar__item-active {
	border-radius: 50%;}
	/* Arrows */
    .mdc-calendar__actions {
	width: calc(100% - 8px);
	display: flex;
	padding: 4px;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	overflow-x: auto;}
	.mdc-calendar__actions:empty{
	display: none;}
	.mdc-calendar__actions > * {
	margin: 4px;}
	.mdc-calendar .mdc-calendar__day-selector {
	padding-bottom: 0;} 
	.mdc-calendar__action {
	width: 30px;
	height: 30px;}
	/* Years */
	.mdc-calendar__items {
	width: 100%;
	display: flex;
	justify-content: center;	
	flex-wrap: wrap;
	height: auto;}	

.mdc-calendar {
	background-color: var(--mdc-calendar-fill);}
	.mdc-calendar__header {
	background-color: var(--mdc-calendar--header-fill);}
	.mdc-calendar__header--year {
	color: var(--mdc-calendar--header-ink);}
	.mdc-calendar__header--date {
	color: var(--mdc-calendar--header-ink);}
	.mdc-calendar__header--month {
	color: var(--mdc-calendar--header-ink);}
	.mdc-calendar__day-selector--week--label {
	color: var(--mdc-calendar-ink);}
	.mdc-calendar__day-selector--month--label {
	color: var(--mdc-calendar-ink);}
	.mdc-calendar__action {
	--mdc-icon-button-ink-color: var(--mdc-calendar-ink); }
	.mdc-calendar__item {
	color: var(--mdc-calendar-ink);}
	.mdc-calendar__item_today:not(.mdc-calendar__item-active) {
	color: var(--mdc-calendar-active-fill);}
	.mdc-calendar__item-active {
	color: var(--mdc-calendar-active-ink);
	background-color: var(--mdc-calendar-active-fill);}
	

.mdc-calendar__header {
	width: calc(100% - 40px);
	display: flex;
	flex-direction: column;
	padding: 16px;
	padding-left: 24px;}
	.mdc-calendar__header--year {
	width: 56px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding: 4;
	border-color: var(--mdc-calendar--header-ink);
	border-width: 1px;
	border-style: solid;
	border-radius: 12px;
	cursor: pointer;}
	.mdc-calendar__header--year.mdc-ripple-surface--color::before, 
	.mdc-calendar__header--year.mdc-ripple-surface--color::after{
	background-color: var(--mdc-calendar--header-ink);}
	.mdc-calendar__header--date {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	cursor: pointer;}
	.mdc-calendar__header .mdc-list-divider {
	--mdc-divider-color: var(--mdc-calendar--header-ink);
	opacity: 1;}

.mdc-calendar__header_period {
	flex-direction: row;}
	.mdc-calendar__header_period--placeholder {
	opacity: .58;}
	.mdc-calendar__header_period .mdc-calendar__header--date {
	height: 36px;}
	.mdc-calendar__header_period--circle {
	width: 6px;
	height: 6px;
	border: 2px solid var(--mdc-calendar--header-ink);
	border-radius: 50%;}
	.mdc-calendar__header_period--line {
	flex: 1;
	width: 0;
	border-right: 4px dotted var(--mdc-calendar--header-ink);
	margin-top: 4px;
	margin-bottom: 4px;}
	.mdc-calendar__header_period > div:first-child {
	width: 10px;
	padding-top: 14px;
	padding-bottom: 14px;
	margin-right: 24px; 
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;}
	.mdc-calendar__header_period > div:last-child {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;}

.mdc-calendar__day-selector {
	width: 100%;
	max-width: var(--mdc-calendar-width);
	padding: 8px;
	height: auto;
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;}
	.mdc-calendar .mdc-calendar__day-selector {
	padding-top: 0;}
	.mdc-calendar__day-selector--month--label {
	flex: 1;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	cursor: pointer;}
	/* week */
	.mdc-calendar__day-selector--week--content {
	width: 100%;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;}
	.mdc-calendar__day-selector--week--label {
	width: var(--mdc-calendar--item-width);
	height: var(--mdc-calendar--item-width);
	margin-right: var(--mdc-calendar--item-margin);
	margin-left: var(--mdc-calendar--item-margin);
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	opacity: .5;}
	
.mdc-calendar__month-selector {
	width: 100%;
	max-width: var(--mdc-calendar-width);
	height: auto;
	padding: 8px;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: center;
	overflow: hidden;}	
	.mdc-calendar__month-selector .mdc-calendar__item {
	text-transform: uppercase;
	width: 48px;
	height: 48px;}

.mdc-calendar__year-selector {
	width: 100%;
	max-width: var(--mdc-calendar-width);
	height: auto;
	padding: 8px;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;}
	.mdc-calendar__year-selector .mdc-calendar__actions {
	justify-content: space-between;}
	.mdc-calendar__year-selector .mdc-calendar__item {
	width: 42px;
	height: 42px;}
	
.mdc_calendar__mult_days--min {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-right: 0;
	padding-right: var(--mdc-calendar--item-margin); 
}
.mdc_calendar__mult_days--max {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: 0;
	padding-left: var(--mdc-calendar--item-margin); 
}
.mdc_calendar__mult_days--between {
	border-radius: 0;
	color: var(--mdc-calendar-active-ink);
	background-color: var(--mdc-calendar-active-fill);
	margin-right: 0;
	margin-left: 0;
	padding-right: var(--mdc-calendar--item-margin);
	padding-left: var(--mdc-calendar--item-margin);
	opacity: .58;
}	
	