/* ==========================================================================
   Extra to use Roboto Mono
   ========================================================================== */
.catalog-title {
	font-family: "Roboto Mono", monospace;}
.google-sans {
	font-family: "Google Sans", monospace;}
	
/* ==========================================================================
   Extra align
   ========================================================================== */
.left-align {
	margin-left: 0;
	margin-right: auto;}
.center-align {
	margin-left: auto;
	margin-right: auto;}
.right-align {
	margin-left: auto;
	margin-right: 0;}

/* ==========================================================================
   Aspect Ratio
   ========================================================================== */
.mdc-aspect-1x1 {
	padding-bottom: calc(100%/ 1);}
.mdc-aspect-16x9 {
	padding-bottom: calc(100%/ 1.77778);}
.mdc-aspect-3x2 {
	padding-bottom: calc(100%/ 1.5);}
.mdc-aspect-2x3 {
	padding-bottom: calc(100%/ 0.66667);}
.mdc-aspect-4x3 {
	padding-bottom: calc(100%/ 1.33333);}
.mdc-aspect-3x4 {
	padding-bottom: calc(100%/ 0.75);}
	
/* ==========================================================================
   Extra hide on classes
   ========================================================================== */
@media (max-width: 479px) {
	.mdc-hide-on-phone {
		display: none;}}

@media (min-width: 480px) and (max-width: 839px) {
	.mdc-hide-on-tablet {
		display: none;}}

@media (min-width: 840px) {
	.mdc-hide-on-desktop {
		display: none;}}

/* ==========================================================================
   Adjust code
   ========================================================================== */
.mdc-code-example {
	display: flex;
	flex-direction: column;	
	justify-content: center;
	align-items: center;
	padding: 24px;}

.mdc-code {
	flex: one;
	width: 100%;
	text-align: left;}

/* ==========================================================================
   Config default component content
   ========================================================================== */
.mdc-content {
	flex: one;
	align-self: auto;
	flex-grow: 1;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	align-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;	
	overflow: visible;
	overflow-x: hidden;
	position: relative;}

/* ==========================================================================
   Color palette
   ========================================================================== */
.mdc-color-palette {
	border-radius: var(--mdc-popup-border-radius);
	display: flex;
	flex-direction: column;}
.mdc-color-palette__title:first-child {
	flex: one;}
.mdc-color-palette__button_group {
	display: flex;}
.mdc-color-palette__label {
	font-size: .6rem;
	line-height: .6rem;
	text-align: center;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;}
.mdc-color-palette__label,
.mdc-color-palette__button {
	width: 28px;
	min-width: 28px;
	max-width: 28px;
	height: 28px;
	min-height: 28px;
	max-height: 28px;
	border: 1px solid rgba(127,127,127,0.5);
	cursor: pointer;
	transition: border-radius 0.3s;}
.mdc-color-palette__button:hover:not(.mdc-color-palette__button_selected) {
	border-radius: 8px;}
.mdc-color-palette__button_selected {
	transition: border-radius 0.3s;
	border-radius: 50%;}
	
/* ==========================================================================
   Calendar
   ========================================================================== */
:root{
	--mdc-calendar-ink: var(--mdc-theme-on-surface);
	--mdc-calendar-fill: var(--mdc-theme-surface);
	--mdc-calendar-active-ink: var(--mdc-theme-on-primary);
	--mdc-calendar-active-fill: var(--mdc-theme-primary);
	--mdc-calendar--header-ink: var(--mdc-theme-on-primary);
	--mdc-calendar--header-fill: var(--mdc-theme-primary);
	--mdc-calendar--body-width: calc(7 * 36px);
}  
.mdc-calendar {
	width: 100%;
	border-radius: var(--mdc-popup-border-radius);
	border: 1px solid rgba(127,127,127,0.5); 
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	-webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;}
    .mdc-calendar label {
	cursor: pointer;}

.mdc-calendar__header--year {
	color: var(--mdc-calendar--header-ink);}
	.mdc-calendar__header--date {
	color: var(--mdc-calendar--header-ink);}
	.mdc-calendar__header--month {
	color: var(--mdc-calendar--header-ink);}
	.mdc-calendar__day-selector--week--label {
	color: var(--mdc-calendar-ink);}
	.mdc-calendar__day-selector--days--label {
	color: var(--mdc-calendar-ink);}
	.mdc-calendar__day-selector--month--label {
	color: var(--mdc-calendar-ink);}
	.mdc-calendar__day-selector--month--action {
	--mdc-icon-button-ink-color: var(--mdc-calendar-ink); }
	.mdc-calendar__day-selector--days--label-active {
	color: var(--mdc-calendar-active-ink);
	background-color: var(--mdc-calendar-active-fill);}
.mdc-calendar {
	background-color: var(--mdc-calendar-fill);}
	.mdc-calendar__header {
	background-color: var(--mdc-calendar--header-fill);}

.mdc-calendar__header {
	width: calc(100% - 40px);
	display: flex;
	flex-direction: column;
	padding: 16px;
	padding-left: 24px;}
	.mdc-calendar__header--year {}
	.mdc-calendar__header--date {}

.mdc-calendar__day-selector {
	width: 100%;
	max-width: var(--mdc-calendar--body-width);
	height: auto;
	padding: 8px;
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--mdc-theme-surface);
	height: auto;
	overflow: hidden;	
	-webkit-transition: max-height 2s ease-out; /* Safari */
    transition: max-height 2s ease-out;}
    /* Month */
    .mdc-calendar__day-selector--month--content {
	width: 100%;
	display: flex;}
	.mdc-calendar__day-selector--month--action {}
	.mdc-calendar__day-selector--month--label {
	flex: 1;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;}
	/* week */
	.mdc-calendar__day-selector--week--content {
	width: 100%;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;}
	.mdc-calendar__day-selector--week--label {
	width: 36px;
	height: 36px;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	opacity: .5;
	cursor: auto;}
	/* Days */
	.mdc-calendar__day-selector--days--content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	height: auto;}
	.mdc-calendar__day-selector--days--label {
	width: 36px;
	height: 36px;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;	
	border-radius: var(--mdc-popup-border-radius);}
	.mdc-calendar__day-selector--days--label-active {
	border-radius: 50%;}	
	
.mdc-calendar__month-selector {
	width: 100%;
	max-width: var(--mdc-calendar--body-width);
	height: auto;
	max-height: 0;
	padding: 8px;
	display: flex;	
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	-webkit-transition: max-height 2s ease-out; /* Safari */
    transition: max-height 2s ease-out;
}	
.mdc-calendar__month-selector label {
	text-transform: uppercase;
	width: 56px;
	height: 56px;
}	
	

