:root {	
	/* ================================ */
  	/* Body attributes					*/
  	/* ================================ */
  	--mdc-root-font-size: 16px;
	--mdc-font-family: "Google Sans", monospace;	
	--mdc-disabled-opacity: .42;
	--mdc-rounded-border-radius: 4px;
	--mdc-scrollbar-width: 6px;
	--mdc-scrollbar-track-fill: transparent;
	--mdc-scrollbar-thumb-corner: 3px;
	--mdc-scrollbar-thumb-fill: var(--mdc-theme-text-hint-on-background);
	--mdc-placeholder-ink-color: var(--mdc-theme-text-hint-on-background);
	--mdc-disabled-color: var(--mdc-theme-text-primary-on-background);
	--mdc-filled-color: rgba(127,127,127,.15);
	/* Misc */
	--mdc-track-opacity: .38;
	--mdc-container-opacity: .12;
	--mdc-selected-opacity: .08;
	--mdc-track-background-opacity: linear-gradient(rgba(255, 255, 255, calc(1.0 - var(--mdc-track-opacity))), rgba(255, 255, 255, calc(1.0 - var(--mdc-track-opacity)))) no-repeat;
	--mdc-container-background-opacity: linear-gradient(rgba(127, 127, 127, calc(1.0 - var(--mdc-container-opacity))), rgba(127,127,127,calc(1.0 - var(--mdc-container-opacity)))) no-repeat;
	--mdc-selected-background-opacity: linear-gradient(rgba(255, 255, 255, calc(1.0 - var(--mdc-selected-opacity))), rgba(255, 255, 255, calc(1.0 - var(--mdc-selected-opacity)))) no-repeat;
	
	/* ================================ */
  	/* Divider							*/
  	/* ================================ */  	
	--mdc-divider-color: var(--mdc-theme-on-surface);
	--mdc-divider-opacity: .12;
	
	/* ================================ */
  	/* Animation on show attributes		*/
  	/* ================================ */
  	--mdc-animation--on-show: mdc-animation--on-show 250ms ease-in-out;
  	
  	/* ================================ */
  	/* Side Sheet attributes			*/
  	/* ================================ */
  	--mdc-side-sheet--ink-color: var(--mdc-theme-on-surface);
	--mdc-side-sheet--fill-color: var(--mdc-theme-surface);
	--mdc-side-sheet--content-width: 256px;
  	
  	/* ================================ */
  	/* Tooltip attributes				*/
  	/* ================================ */
	--mdc-tooltip--fill-color: var(--mdc-theme-on-surface);
	--mdc-tooltip--ink-color: var(--mdc-theme-surface);
  	
  	/* ================================ */
  	/* Banner attributes				*/
  	/* ================================ */
	--mdc-banner--animation-duration: 250ms;
	--mdc-banner--fill-color: var(--mdc-theme-surface);
	--mdc-banner--ink-color: var(--mdc-theme-on-surface);
	--mdc-banner--avatar-fill-color: transparent;
	--mdc-banner--avatar-ink-color: var(--mdc-theme-on-surface);
	--mdc-banner--label_lines_number: 3;
  	
  	/* ================================ */
  	/* Circular Progress attributes		*/
  	/* ================================ */
	--mdc-circular-progress-width: 48px;
	--mdc-circular-progress-stroke-width: 6;
	--mdc-circular-progress-start-angle: -90deg;
	--mdc-circular-progress-indicator-color: var(--mdc-theme-secondary);
	--mdc-circular-progress-track-color: var(--mdc-theme-secondary);
  	
  	/* ================================ */
  	/* Fab Progress attributes			*/
  	/* ================================ */
	--mdc-fab-progess--animation-duration: 400ms;
	--mdc-fab-progess--animation-property: background-color;
  	
  	/* ================================ */
  	/* DatePiker attributes				*/
  	/* ================================ */
  	--mdc-datepicker-ink: var(--mdc-theme-on-surface);
	--mdc-datepicker-fill: var(--mdc-theme-surface);
	--mdc-datepicker-active-ink: var(--mdc-theme-on-primary);
	--mdc-datepicker-active-fill: var(--mdc-theme-primary);
	--mdc-datepicker--header-ink: var(--mdc-theme-on-primary);
	--mdc-datepicker--header-fill: var(--mdc-theme-primary);	
	--mdc-datepicker--item-width: 30px;
	--mdc-datepicker--item-margin: 2px;
	--mdc-datepicker-width: calc(8px + calc(7 * calc( var(--mdc-datepicker--item-width) + calc(2 * var(--mdc-datepicker--item-margin)))));
  	
  	/* ================================ */
  	/* Top app bar attributes			*/
  	/* ================================ */
	--mdc-top-app-bar-fill-color: var(--mdc-theme-primary);
	--mdc-top-app-bar-ink-color: var(--mdc-theme-on-primary);
  	
  	/* ================================ */
  	/* Drawer attributes				*/
  	/* ================================ */
	--mdc-drawer-fill-color: var(--mdc-theme-surface);
	--mdc-drawer-ink-color: var(--mdc-theme-on-surface);
  	
  	/* ================================ */
  	/* Snackbar attributes				*/
  	/* ================================ */
	--mdc-snackbar-bottom: 8px;
	--mdc-snackbar-position-adjust: 0px;
	--mdc-snackbar-action-ink-color: var(--mdc-theme-secondary);
  	
  	/* ================================ */
  	/* Button attributes				*/
  	/* ================================ */
	--mdc-button-fill-color: transparent;
	--mdc-button-ink-color: var(--mdc-theme-primary);
	--mdc-button-outline-color: var(--mdc-theme-primary);
	--mdc-button-raised-fill-color: var(--mdc-theme-primary);
	--mdc-button-raised-ink-color: var(--mdc-theme-on-primary);	
  	
  	/* ================================ */
  	/* Fab attributes					*/
  	/* ================================ */
	--mdc-fab-fill-color: var(--mdc-theme-secondary);
	--mdc-fab-ink-color: var(--mdc-theme-on-secondary);
  	
  	/* ================================ */
  	/* Icon button attributes			*/
  	/* ================================ */
	--mdc-icon-button-ink-color: var(--mdc-theme-primary);
  	
  	/* ================================ */
  	/* Icon toggle attributes			*/
  	/* ================================ */
	--mdc-icon-toggle-ink-color: var(--mdc-theme-primary);
  	
  	/* ================================ */
  	/* Radio button attributes			*/
  	/* ================================ */
	--mdc-radio-checked-color: var(--mdc-theme-secondary);
	--mdc-radio-unchecked-color: var(--mdc-theme-text-secondary-on-background);
	--mdc-radio-label-color: var(--mdc-theme-text-primary-on-background);
  	
  	/* ================================ */
  	/* Checkbox attributes				*/
  	/* ================================ */
	--mdc-checkbox-checked-color: var(--mdc-theme-secondary);
	--mdc-checkbox-unchecked-color: var(--mdc-theme-text-secondary-on-background);
	--mdc-checkbox-label-color: var(--mdc-theme-text-primary-on-background);
  	
  	/* ================================ */
  	/* Switch attributes				*/
  	/* ================================ */
	--mdc-switch-checked-color: var(--mdc-theme-secondary);
	--mdc-switch-unchecked-color: var(--mdc-theme-text-secondary-on-background);
	--mdc-switch-label-color: var(--mdc-theme-text-primary-on-background);
  	
  	/* ================================ */
  	/* Card attributes					*/
  	/* ================================ */
	--mdc-card-fill-color: var(--mdc-theme-surface);
	--mdc-card-ink-color: var(--mdc-theme-on-surface); 
	--mdc-card-button-color: var(--mdc-theme-primary);
	--mdc-card-raised-button-ink-color: var(--mdc-theme-on-primary);
	--mdc-card-icon-color: var(--mdc-theme-on-surface);
	--mdc-card-raised-icon-ink-color: var(--mdc-theme-on-primary);
  	
  	/* ================================ */
  	/* Chip attributes					*/
  	/* ================================ */
	--mdc-chip-corner-radius: 16px;
	--mdc-chip-container-fill-color: var(--mdc-theme-on-surface);
	--mdc-chip-text-color: var(--mdc-theme-on-surface);
	--mdc-chip-icon_leading-color: var(--mdc-theme-on-surface);
	--mdc-chip-icon_trailing-color: var(--mdc-theme-on-surface);
	--mdc-chip-icon_selected-color: var(--mdc-theme-primary);
  	
  	/* ================================ */
  	/* Linear Progress attributes		*/
  	/* ================================ */
	--mdc-linear-progress-indicator-color: var(--mdc-theme-secondary);
	--mdc-linear-progress-track-color: var(--mdc-theme-secondary);
  	
  	/* ================================ */
  	/* Slider attributes				*/
  	/* ================================ */
	--mdc-slider-track-color: var(--mdc-theme-secondary);
 	--mdc-slider-track-fill-color: var(--mdc-theme-secondary);
 	--mdc-slider-tick-marker-color: var(--mdc-theme-secondary);
 	--mdc-slider-thumb-color: var(--mdc-theme-secondary);
 	--mdc-slider-pin-color: var(--mdc-theme-secondary);
  	--mdc-slider-value-pin-color: var(--mdc-theme-on-secondary);
  	
  	/* ================================ */
  	/* Tab attributes					*/
  	/* ================================ */
  	--mdc-tab-ink-color: var(--mdc-theme-text-primary-on-background);
  	--mdc-tab-fill-color: var(--mdc-theme-background);
	--mdc-tab-actived-color: var(--mdc-theme-primary);
  	
  	/* ================================ */
  	/* List attributes					*/
  	/* ================================ */
	--mdc-list-item-graphic-ink-color: var(--mdc-theme-on-surface);
	--mdc-list-item-primary-text-ink-color: var(--mdc-theme-on-surface);
	--mdc-list-item-secondary-text-ink-color: var(--mdc-theme-on-surface);
	--mdc-list-item-meta-ink-color: var(--mdc-theme-on-surface);
	--mdc-list-item-selected-graphic-ink-color: var(--mdc-theme-secondary);
	--mdc-list-item-selected-primary-text-ink-color: var(--mdc-theme-secondary);
	--mdc-list-item-selected-meta-ink-color: var(--mdc-theme-secondary);
  	
  	/* ================================ */
  	/* Menu attributes				*/
  	/* ================================ */
  	--mdc-menu__ink-color: var(--mdc-theme-on-surface);
	--mdc-menu__fill-color: var(--mdc-theme-surface);
  	
  	/* ================================ */
  	/* Dialog attributes				*/
  	/* ================================ */
	--mdc-dialog-header-fill-color: transparent;
	--mdc-dialog-header-ink-color: var(--mdc-theme-on-surface);
	--mdc-dialog-body-fill-color: var(--mdc-theme-surface);
	--mdc-dialog-body-ink-color: var(--mdc-theme-on-surface);
	--mdc-dialog-action-fill-color: transparent;
	--mdc-dialog-action-ink-color: var(--mdc-theme-primary);
	--mdc-dialog-action-raised-ink-color: var(--mdc-dialog-body-fill-color);
  	
  	/* ================================ */
  	/* Text Field attributes			*/
  	/* Select attributes				*/
  	/* Notch attributes					*/
  	/* ================================ */
	--mdc-input__ink-color: var(--mdc-theme-text-secondary-on-background);
	--mdc-input__fill-color: var(--mdc-theme-background);
	--mdc-input__focused-color: var(--mdc-theme-primary);
	
	/* ================================ */
  	/* Spreadsheet attributes			*/
  	/* ================================ */
  	--mdc-spreadsheet--cell-padding: 1px;
  	--mdc-spreadsheet--ink-color: var(--mdc-theme-on-surface);  	
  	--mdc-spreadsheet--fill-color: var(--mdc-theme-surface);
  	--mdc-spreadsheet--fixed-ink-color: var(--mdc-theme-on-surface);  	
  	--mdc-spreadsheet--fixed-fill-color: var(--mdc-theme-surface);
  	--mdc-spreadsheet--border-width: 1px;
  	--mdc-spreadsheet--border-color: #ccf;
  	--mdc-spreadsheet--selected-color: var(--mdc-theme-primary);
  	--mdc-spreadsheet--selected-ink-color: var(--mdc-theme-on-primary);
  	--mdc-spreadsheet--corner--border-color: var(--mdc-theme-on-primary);
}