:root {	
	
	/* Rounded border radius */
	--mdc-rounded-border-radius: 4px;
	
	/* Misc */
	--mdc-track-opacity: .38;
	--mdc-container-opacity: .12;
	--mdc-selected-opacity: .08;
	--mdc-track-background-opacity: linear-gradient(rgba(255, 255, 255, calc(1.0 - var(--mdc-track-opacity))), rgba(255, 255, 255, calc(1.0 - var(--mdc-track-opacity)))) no-repeat;
	--mdc-container-background-opacity: linear-gradient(rgba(255, 255, 255, calc(1.0 - var(--mdc-container-opacity))), rgba(255, 255, 255, calc(1.0 - var(--mdc-container-opacity)))) no-repeat;
	--mdc-selected-background-opacity: linear-gradient(rgba(255, 255, 255, calc(1.0 - var(--mdc-selected-opacity))), rgba(255, 255, 255, calc(1.0 - var(--mdc-selected-opacity)))) no-repeat;

	/* Divider */
	--mdc-divider-color: var(--mdc-theme-on-surface);
	--mdc-divider-opacity: .12;

	/* Top app bar */
	--mdc-top-app-bar-fill-color: var(--mdc-theme-primary);
	--mdc-top-app-bar-ink-color: var(--mdc-theme-on-primary);
	
	/* Drawer */
	--mdc-drawer-fill-color: var(--mdc-theme-surface);
	--mdc-drawer-ink-color: var(--mdc-theme-on-surface);
	
	/* Snackbar */
	--mdc-snackbar-bottom: 8px;
	--mdc-snackbar-position-adjust: 0px;
	
	/* Button */
	--mdc-button-fill-color: transparent;
	--mdc-button-ink-color: var(--mdc-theme-primary);
	--mdc-button-outline-color: var(--mdc-theme-primary);
	--mdc-button-raised-fill-color: var(--mdc-theme-primary);
	--mdc-button-raised-ink-color: var(--mdc-theme-on-primary);		
	
	/* Fab */
	--mdc-fab-fill-color: var(--mdc-theme-secondary);
	--mdc-fab-ink-color: var(--mdc-theme-on-secondary);
	
	/* Icon button */
	--mdc-icon-button-ink-color: var(--mdc-theme-primary);
	
	/* Icon toggle */
	--mdc-icon-toggle-ink-color: var(--mdc-theme-primary);
	
	/* Radio button */
	--mdc-radio-checked-color: var(--mdc-theme-secondary);
	--mdc-radio-unchecked-color: var(--mdc-theme-text-secondary-on-background);
	--mdc-radio-label-color: var(--mdc-theme-text-primary-on-background);
	
	/* Checkbox */
	--mdc-checkbox-checked-color: var(--mdc-theme-secondary);
	--mdc-checkbox-unchecked-color: var(--mdc-theme-text-secondary-on-background);
	--mdc-checkbox-label-color: var(--mdc-theme-text-primary-on-background);
	
	/* Switch */
	--mdc-switch-checked-color: var(--mdc-theme-secondary);
	--mdc-switch-unchecked-color: var(--mdc-theme-text-secondary-on-background);
	--mdc-switch-label-color: var(--mdc-theme-text-primary-on-background);
	
	/* Card */
	--mdc-card-fill-color: var(--mdc-theme-surface);
	--mdc-card-ink-color: var(--mdc-theme-on-surface); 
	--mdc-card-button-color: var(--mdc-theme-primary);
	--mdc-card-raised-button-ink-color: var(--mdc-theme-on-primary);
	--mdc-card-icon-color: var(--mdc-theme-on-surface);
	--mdc-card-raised-icon-ink-color: var(--mdc-theme-on-primary);
	
	/* Chip */
	--mdc-chip-corner-radius: 16px;
	--mdc-chip-container-fill-color: var(--mdc-theme-on-surface);
	--mdc-chip-text-color: var(--mdc-theme-on-surface);
	--mdc-chip-icon_leading-color: var(--mdc-theme-on-surface);
	--mdc-chip-icon_trailing-color: var(--mdc-theme-on-surface);
	--mdc-chip-icon_selected-color: var(--mdc-theme-on-surface);	
	
	/* Linear progress */
	--mdc-linear-progress-indicator-color: var(--mdc-theme-secondary);
	--mdc-linear-progress-track-color: var(--mdc-theme-secondary);
	
	/* Slider */
	--mdc-slider-track-color: var(--mdc-theme-secondary);
 	--mdc-slider-track-fill-color: var(--mdc-theme-secondary);
 	--mdc-slider-tick-marker-color: var(--mdc-theme-secondary);
 	--mdc-slider-thumb-color: var(--mdc-theme-secondary);
 	--mdc-slider-pin-color: var(--mdc-theme-secondary);
  	--mdc-slider-value-pin-color: var(--mdc-theme-on-secondary);
  	
  	/* Tab */
  	--mdc-tab-color: var(--mdc-theme-surface, rgba(0, 0, 0, 0.24));
	--mdc-tab-actived-color: var(--mdc-theme-on-primary, rgba(0, 0, 0, 1.0));
	
	/* List */
	--mdc-list-item-graphic-ink-color: var(--mdc-theme-on-surface);
	--mdc-list-item-primary-text-ink-color: var(--mdc-theme-on-surface);
	--mdc-list-item-secondary-text-ink-color: var(--mdc-theme-on-surface);
	--mdc-list-item-meta-ink-color: var(--mdc-theme-on-surface);
	--mdc-list-item-selected-graphic-ink-color: var(--mdc-theme-primary);
	--mdc-list-item-selected-primary-text-ink-color: var(--mdc-theme-primary);
	--mdc-list-item-selected-meta-ink-color: var(--mdc-theme-primary);
		
	/* Dialog */
	--mdc-dialog-header-fill-color: transparent;
	--mdc-dialog-header-ink-color: var(--mdc-theme-on-surface);
	--mdc-dialog-body-fill-color: var(--mdc-theme-surface);
	--mdc-dialog-body-ink-color: var(--mdc-theme-on-surface);
	--mdc-dialog-action-fill-color: transparent;
	--mdc-dialog-action-ink-color: var(--mdc-theme-primary);
	--mdc-dialog-action-raised-ink-color: var(--mdc-dialog-body-fill-color);
	
	/* Text field */
	--mdc-state--success: #00b020;
	--mdc-state--warning: #FF8F00;
	--mdc-state--error: #b00020;
		
	--mdc-text-field--ink-color: var(--mdc-theme-text-secondary-on-background);
	--mdc-text-field--fill-color: var(--mdc-theme-background);
	--mdc-text-field--focused-color: var(--mdc-theme-primary, rgba(0, 0, 0, 1.0));
	
}

/* ==========================================================================
   Material disabled adjust
   ========================================================================== */
[disabled] {
    filter: grayscale(100%);
    pointer-events: none;
    cursor: default;
    color: var(--mdc-theme-text-disabled-on-background, rgba(0, 0, 0, 0.24));}   
.mdc-form-field[disabled],
.material-icons[disabled] {
	opacity: 0.26;}

/* ==========================================================================
   Material Icons
   ========================================================================== */
.material-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	color: var(--mdc-theme-text-primary-on-background);}
	

/* ==========================================================================
   Button
   ========================================================================== */
.mdc-button .mdc-button__icon {
	margin-left: 0px;
	margin-right: 8px;}
.mdc-button[dir="rtl"] .mdc-button__icon {
	margin-left: 8px;
	margin-right: 0px;}
.mdc-button:not(:disabled) {
    color: var(--mdc-button-ink-color);
    background-color: var(--mdc-button-fill-color);}
.mdc-button::before, .mdc-button::after,
.mdc-button--raised:not(:disabled),
.mdc-button--unelevated:not(:disabled) {
	color: var(--mdc-button-raised-ink-color);
	background-color: var(--mdc-button-raised-fill-color);}
.mdc-button--outlined:not(:disabled) {
	border-color: var(--mdc-button-ink-color);}
.mdc-button.mdc-ripple-surface--color:not(.mdc-button--raised):not(.mdc-button--unelevated)::before, 
.mdc-button.mdc-ripple-surface--color:not(.mdc-button--raised):not(.mdc-button--unelevated)::after {
	background-color: var(--mdc-button-ink-color);}	
.mdc-button--raised.mdc-ripple-surface--color::before, 
.mdc-button--raised.mdc-ripple-surface--color::after,
.mdc-button--unelevated.mdc-ripple-surface--color::before, 
.mdc-button--unelevated.mdc-ripple-surface--color::after {
	background-color: var(--mdc-button-raised-ink-color);}
.mdc-button,	
.mdc-button.mdc-button--dense {
    border-radius: var(--mdc-rounded-border-radius);}		

/* ==========================================================================
   Icon button
   ========================================================================== */
.mdc-icon-button {
	color: var(--mdc-icon-button-ink-color);}
.mdc-icon-button[disabled] {
	color: var(--mdc-theme-text-disabled-on-background);}
.mdc-icon-button.mdc-ripple-surface--color::before, 
.mdc-icon-button.mdc-ripple-surface--color::after {
	background-color: var(--mdc-icon-button-ink-color);}

/* ==========================================================================
   Icon toggle
   ========================================================================== */
.mdc-icon-toggle {
	color: var(--mdc-icon-toggle-ink-color, rgba(0, 0, 0, 0.38));}
.mdc-icon-toggle[disabled] {
	opacity: 0.26;
	color: var(--mdc-theme-text-disabled-on-light, rgba(0, 0, 0, 0.38));}
.mdc-icon-toggle.mdc-list-item__start-detail {
	width: 36px;
	height: 36px;
	margin-left: -6px;}
.mdc-icon-toggle.mdc-list-item__end-detail {
	width: 36px;
	height: 36px;
	margin-right: -6px;}
.mdc-icon-toggle.mdc-ripple-surface--color::before, 
.mdc-icon-toggle.mdc-ripple-surface--color::after {
	background-color: var(--mdc-icon-toggle-ink-color);}
	
/* ==========================================================================
   Floating FAB
   ========================================================================== */
.mdc-fab {
	color: var(--mdc-fab-ink-color);
	background-color: var(--mdc-fab-fill-color);}
.mdc-fab * {
	color: var(--mdc-fab-ink-color);}
.mdc-fab.mdc-ripple-surface--color::before, 
.mdc-fab.mdc-ripple-surface--color::after {
	background-color: var(--mdc-fab-ink-color);}		
.mdc-fab__label:empty,
.mdc-fab__icon:empty {
	display: none;}
.mdc-fab--extended[dir="rtl"] .mdc-fab__icon {
	margin-left: 12px;
	margin-right: -8px;}
.mdc-fab--fixed > label:empty {
	display: none;}
.mdc-fab--fixed {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	z-index: 4;
	-webkit-transition: bottom 0.5s;    	
    transition: bottom 0.5s;}
@media ( min-width : 1024px) {
	.mdc-fab--fixed {
		bottom: 1.5rem;
		right: 1.5rem;}}
		
/* ==========================================================================
   Slider
   ========================================================================== */ 
.mdc-slider:not(.mdc-slider--discrete) .mdc-slider__pin {
	display: none;}
.mdc-slider:not(.mdc-slider--display-markers) .mdc-slider__track-marker-container {
	display: none;}
.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__track {
	background-color: var(--mdc-slider-track-color);}
.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__track-marker,
.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__track-container {
	background: 
        var(--mdc-track-background-opacity),
		linear-gradient(var(--mdc-slider-track-fill-color), var(--mdc-slider-track-fill-color)) no-repeat;}
.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__track-marker::after,
.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__track-marker-container::after {background-color: var(--mdc-slider-tick-marker-color);}
.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__thumb {
	fill: var(--mdc-slider-thumb-color);
	stroke: var(--mdc-slider-thumb-color);}
.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__focus-ring {background-color: green;}
.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__pin {
	background-color: var(--mdc-slider-pin-color);
    color: var(--mdc-slider-value-pin-color);}
    
/* ==========================================================================
   Linear Progress
   ========================================================================== */
.mdc-linear-progress .mdc-linear-progress__bar-inner {
    background-color: var(--mdc-linear-progress-indicator-color);}
.mdc-linear-progress__buffering-dots {
	right: 0;
	background-image: radial-gradient(ellipse 4px 4px at center, var(--mdc-linear-progress-track-color) 0%, var(--mdc-linear-progress-track-color) 47%, var(--mdc-linear-progress-track-color) 47%, transparent 47%, transparent 48%);
	opacity: var(--mdc-track-opacity);}
.mdc-linear-progress--reversed .mdc-linear-progress__buffering-dots {
	left: 0;}
.mdc-linear-progress__buffer {
	background: 
        var(--mdc-track-background-opacity),
		linear-gradient(var(--mdc-linear-progress-track-color), var(--mdc-linear-progress-track-color)) no-repeat;}

/* ==========================================================================
   Tab
   ========================================================================== */
.mdc-tab[disabled] {
	opacity: 0.37;}
.mdc-tab-bar {
	background-color: var(--mdc-theme-primary);}
.mdc-tab .mdc-tab__text-label:empty,
.mdc-tab .mdc-tab__icon:empty {
    display: none;}
.mdc-tab .mdc-tab__text-label,
.mdc-tab .mdc-tab__icon {
    color: var(--mdc-tab-color);}
.mdc-tab--active .mdc-tab__text-label,
.mdc-tab--active .mdc-tab__icon {
    color: var(--mdc-tab-actived-color);}
.mdc-tab:not(.mdc-tab--active) .mdc-tab-indicator > .mdc-tab-indicator__content--underline,
.mdc-tab:not(.mdc-tab--active) .mdc-tab__ripple::before, 
.mdc-tab:not(.mdc-tab--active) .mdc-tab__ripple::after {
    background-color: var(--mdc-tab-color);}
.mdc-tab--active .mdc-tab-indicator > .mdc-tab-indicator__content--underline,
.mdc-tab--active .mdc-tab__ripple::before, 
.mdc-tab--active .mdc-tab__ripple::after {
    background-color: var(--mdc-tab-actived-color);}        

/* ==========================================================================
   List
   ========================================================================== */
.mdc-list-item[disabled] {
	opacity: 0.37;}
.mdc-list-item,
.mdc-list-item * {
	cursor: pointer;}
.mdc-list-item__text {
	align-self: center;
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: center;}
.mdc-list-item__primary-text,
.mdc-list-item__secondary-text {
	width: 100%;	
	height: auto;
	margin: 0;}
.mdc-list-item__primary-text::before,
.mdc-list-item__primary-text::after,
.mdc-list-item__secondary-text::before,
.mdc-list-item__secondary-text::after {
	vertical-align: middle; 
	height: auto;}
.mdc-list-item__primary-text:empty,
.mdc-list-item__secondary-text:empty {
    display: none;}
.mdc-list-item__graphic {	
	color: var(--mdc-list-item-graphic-ink-color);}
i.mdc-list-item__graphic {
	opacity: .64;}	
.mdc-list-item__primary-text {
	color: var(--mdc-list-item-primary-text-ink-color);}
.mdc-list-group__subheader,
.mdc-list-item__secondary-text {
	color: var(--mdc-list-item-secondary-text-ink-color);
	opacity: 0.64;}
.mdc-list-item__meta {
	color: var(--mdc-list-item-meta-ink-color);}
.mdc-list-item--selected .mdc-list-item__graphic {
	color: var(--mdc-list-item-selected-graphic-ink-color);}
.mdc-list-item--selected .mdc-list-item__primary-text {
	color: var(--mdc-list-item-selected-primary-text-ink-color);}		
.mdc-list-item--selected .mdc-list-item__meta {
	color: var(--mdc-list-item-selected-meta-ink-color);}	
.mdc-list-item.mdc-ripple-surface--color::before, 
.mdc-list-item.mdc-ripple-surface--color::after {
	background-color: var(--mdc-list-item-primary-text-ink-color);}
.mdc-list-item.mdc-list-item--selected.mdc-ripple-surface--color::before, 
.mdc-list-item.mdc-list-item--selected.mdc-ripple-surface--color::after {
	background-color: var(--mdc-list-item-selected-primary-text-ink-color);}	
.mdc-list-divider {
	border-bottom-color: var(--mdc-divider-color);
	opacity: var(--mdc-divider-opacity);}
:not(.mdc-list) .mdc-list-divider:not(.mdc-list-divider--inset) {
	width: 100%;}	
.mdc-list-item {
	--mdc-radio-unchecked-color: var(--mdc-list-item-graphic-ink-color);
	--mdc-radio-checked-color: var(--mdc-list-item-selected-graphic-ink-color);
	--mdc-checkbox-unchecked-color: var(--mdc-list-item-graphic-ink-color);
	--mdc-checkbox-checked-color: var(--mdc-list-item-selected-graphic-ink-color);}

/* ==========================================================================
   Radio button
   ========================================================================== */
.mdc-radio__native-control:disabled + .mdc-radio__background .mdc-radio__outer-circle,
 [aria-disabled="true"] .mdc-radio__native-control + .mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--mdc-theme-text-disabled-on-background, rgba(0, 0, 0, 0.26)); }
[disabled] .mdc-radio__label,
[aria-disabled="true"] .mdc-radio__label{
	color: var(--mdc-radio-label-color);}    
.mdc-radio__native-control:disabled + .mdc-radio__background .mdc-radio__inner-circle,
[aria-disabled="true"] .mdc-radio__native-control + .mdc-radio__background .mdc-radio__inner-circle {
    border-color: var(--mdc-theme-text-disabled-on-background, rgba(0, 0, 0, 0.26)); }
.mdc-radio .mdc-radio__native-control:enabled:not(:checked) + .mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--mdc-radio-unchecked-color);}
.mdc-radio__native-control:checked + .mdc-radio__background .mdc-radio__inner-circle {   
    background-color: var(--mdc-radio-checked-color);}            
.mdc-radio__outer-circle {    
    border-color: var(--mdc-radio-unchecked-color);}
.mdc-radio .mdc-radio__native-control:enabled + .mdc-radio__background .mdc-radio__inner-circle,
.mdc-radio .mdc-radio__native-control:enabled:checked + .mdc-radio__background .mdc-radio__outer-circle {
	border-color: var(--mdc-radio-checked-color);}
.mdc-radio__label{
	color: var(--mdc-radio-label-color);}
.mdc-radio.mdc-ripple-upgraded:not(.mdc-radio--selected)::before, 
.mdc-radio.mdc-ripple-upgraded:not(.mdc-radio--selected)::after {
    background-color: var(--mdc-radio-unchecked-color); }
.mdc-radio.mdc-ripple-upgraded::before, 
.mdc-radio.mdc-ripple-upgraded::after {
    background-color: var(--mdc-radio-checked-color); }
    	
	
/* ==========================================================================
   Checkbox
   ========================================================================== */
.mdc-checkbox__native-control:disabled:not(:checked):not(:indeterminate) ~ .mdc-checkbox__background {
	border-color: var(--mdc-theme-text-disabled-on-background, rgba(0, 0, 0, 0.26));}
.mdc-checkbox__native-control:disabled:checked ~ .mdc-checkbox__background,
.mdc-checkbox__native-control:disabled:indeterminate ~ .mdc-checkbox__background {
	border-color: transparent;
	background-color: var(--mdc-theme-text-disabled-on-background, rgba(0, 0, 0, 0.26));}
[disabled] .mdc-checkbox__label,
[aria-disabled="true"] .mdc-checkbox__label{
	color: var(--mdc-checkbox-label-color);}  	
.mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate) ~ .mdc-checkbox__background {
	border-color: var(--mdc-checkbox-unchecked-color);}
.mdc-checkbox__background::before,
.mdc-checkbox::before, .mdc-checkbox::after {
    background-color: var(--mdc-checkbox-checked-color); }
.mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background {
	border-color: var(--mdc-checkbox-checked-color);
	background-color: var(--mdc-checkbox-checked-color); }    	
.mdc-checkbox__label{
	color: var(--mdc-checkbox-label-color);}
.mdc-checkbox.mdc-ripple-upgraded:not(.mdc-checkbox--selected)::before, 
.mdc-checkbox.mdc-ripple-upgraded:not(.mdc-checkbox--selected)::after {
    background-color: var(--mdc-checkbox-unchecked-color); }
.mdc-checkbox.mdc-ripple-upgraded::before, 
.mdc-checkbox.mdc-ripple-upgraded::after {
    background-color: var(--mdc-checkbox-checked-color); }	
	
@-webkit-keyframes mdc-checkbox-fade-in-background-0 {
  0% {
    border-color: rgba(0, 0, 0, 0.54);
    background-color: transparent; }
  50% {
    border-color: var(--mdc-checkbox-checked-color);
    background-color: var(--mdc-checkbox-checked-color); } }

@keyframes mdc-checkbox-fade-in-background-0 {
  0% {
    border-color: rgba(0, 0, 0, 0.54);
    background-color: transparent; }
  50% {
    border-color: var(--mdc-checkbox-checked-color);
    background-color: var(---mdc-checkbox-checked-color); } }

@-webkit-keyframes mdc-checkbox-fade-out-background-0 {
  0%, 80% {
    border-color: var(--mdc-checkbox-checked-color);
    background-color: var(--mdc-checkbox-checked-color); }
  100% {
    border-color: rgba(0, 0, 0, 0.54);
    background-color: transparent; } }

@keyframes mdc-checkbox-fade-out-background-0 {
  0%, 80% {
    border-color: var(--mdc-checkbox-checked-color);
    background-color: var(--mdc-checkbox-checked-color); }
  100% {
    border-color: rgba(0, 0, 0, 0.54);
    background-color: transparent; } }	

/* ==========================================================================
   Switch
   ========================================================================== */
.mdc-switch-wrapper {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: flex-end;
	height: 36px;
	overflow: visible;}
.mdc-switch-wrapper[dir="rtl"] {
	justify-content: flex-end;}
.mdc-switch-label:empty {
	display: none;}
.mdc-switch-label {
	margin-left: 16px;
	margin-right: 0;}
[dir="rtl"] .mdc-switch-label {
	margin-left: 0;
	margin-right: 16px;}	
.mdc-switch.mdc-switch--checked .mdc-switch__track {
    background-color: var(--mdc-switch-checked-color);
    border-color: var(--mdc-switch-checked-color); }
.mdc-switch.mdc-switch--checked .mdc-switch__thumb {
    background-color: var(--mdc-switch-checked-color);
    border-color: var(--mdc-switch-checked-color); }
.mdc-switch:not(.mdc-switch--checked) .mdc-switch__track {
    background-color: #000;
    border-color: #000; }
.mdc-switch:not(.mdc-switch--checked) .mdc-switch__thumb {
    background-color: var(--mdc-switch-unchecked-color);
    border-color: var(--mdc-switch-unchecked-color); }
.mdc-switch:not(.mdc-switch--checked) .mdc-switch__thumb-underlay::before, 
.mdc-switch:not(.mdc-switch--checked) .mdc-switch__thumb-underlay::after {
    background-color: var(--mdc-switch-unchecked-color); }
.mdc-switch-label {
	color: var(--mdc-switch-label-color);}
    
/* ==========================================================================
   Chip
   ========================================================================== */
.mdc-chip[disabled] {
	opacity: 0.37;
	cursor: default;}
.mdc-chip {
	border-radius: var(--mdc-chip-corner-radius);
	background-color: transparent;
	background: 
        var(--mdc-container-background-opacity),
		linear-gradient(var(--mdc-chip-container-fill-color), var(--mdc-chip-container-fill-color)) no-repeat;}
.mdc-chip-set--choice .mdc-chip--selected {
	border-radius: var(--mdc-chip-corner-radius);
	background-color: transparent;
	background: 
        var(--mdc-selected-background-opacity),
		linear-gradient(var(--mdc-chip-icon_selected-color), var(--mdc-chip-icon_selected-color)) no-repeat;}
.mdc-chip--outlined {
	border: 1px solid var(--mdc-chip-text-color);
	background: none;}			
.mdc-chip.mdc-ripple-surface--color::before,
.mdc-chip.mdc-ripple-surface--color::after,
.mdc-chip.mdc-chip--selected.mdc-ripple-surface--color::before,
.mdc-chip.mdc-chip--selected.mdc-ripple-surface--color::after {
    background-color: var(--mdc-chip-text-color); }
.mdc-chip .mdc-chip__icon.mdc-chip__icon--leading{
	color: var(--mdc-chip-icon_leading-color);}
.mdc-chip .mdc-chip__icon.mdc-chip__icon--trailing:hover,
.mdc-chip .mdc-chip__icon.mdc-chip__icon--trailing:focus,	
.mdc-chip .mdc-chip__icon.mdc-chip__icon--trailing {
	color: var(--mdc-chip-icon_trailing-color);}
.mdc-chip-set--choice .mdc-chip.mdc-chip--selected *,
.mdc-chip-set--choice .mdc-chip.mdc-chip--selected,
.mdc-chip-set--choice .mdc-chip.mdc-chip--selected:hover,
.mdc-chip-set--choice .mdc-chip .mdc-chip__checkmark-path,	
.mdc-chip-set--choice .mdc-chip.mdc-chip--selected .mdc-chip__icon.mdc-chip__icon--leading {
	color: var(--mdc-chip-icon_selected-color);}
.mdc-chip.mdc-chip--selected.mdc-chip--outlined {
	border-color: var(--mdc-chip-icon_selected-color);}	
.mdc-chip-set--choice .mdc-chip .mdc-chip__checkmark-path {
	stroke: var(--mdc-chip-icon_selected-color);}		
.mdc-chip__text {
	color: var(--mdc-chip-text-color);}  	
.mdc-chip-set--filter .mdc-chip.mdc-chip--selected .mdc-chip__icon.mdc-chip__icon--leading {
	display: none;}
    
/* ==========================================================================
   Chip set
   ========================================================================== */  
.mdc-chip-set {
	padding: 0;}
.mdc-chip-set > div:first-child {
	margin-left: 0;}
.mdc-chip-set > div:last-child {
	margin-right: 0;}
    
/* ==========================================================================
   Top App Bar
   ========================================================================== */
.mdc-top-app-bar {
	background-color: var(--mdc-top-app-bar-fill-color);}	
.mdc-top-app-bar .mdc-top-app-bar__title,
.mdc-top-app-bar .mdc-top-app-bar__navigation-icon,
.mdc-top-app-bar .mdc-top-app-bar__action-item {
    color: var(--mdc-top-app-bar-ink-color);}
.mdc-top-app-bar .mdc-top-app-bar__navigation-icon.mdc-ripple-surface--color::before, 
.mdc-top-app-bar .mdc-top-app-bar__navigation-icon.mdc-ripple-surface--color::after,                	
.mdc-top-app-bar .mdc-top-app-bar__action-item.mdc-ripple-surface--color::before, 
.mdc-top-app-bar .mdc-top-app-bar__action-item.mdc-ripple-surface--color::after {
	background-color: var(--mdc-top-app-bar-ink-color);}    
/* Button into top app bar */
.mdc-top-app-bar .mdc-button, 
.mdc-top-app-bar .mdc-button--outlined:not(:disabled) {
	--mdc-button-ink-color: var(--mdc-top-app-bar-ink-color);}
.mdc-top-app-bar .mdc-button--raised:not(:disabled),
.mdc-top-app-bar .mdc-button--unelevated:not(:disabled) {
	--mdc-button-raised-ink-color: var(--mdc-top-app-bar-fill-color);
	--mdc-button-raised-fill-color: var(--mdc-top-app-bar-ink-color);}	
	
/* ==========================================================================
   Drawer
   ========================================================================== */
.mdc-drawer {	
	--mdc-list-item-graphic-ink-color: var(--mdc-drawer-ink-color);
	--mdc-list-item-primary-text-ink-color: var(--mdc-drawer-ink-color);
	--mdc-list-item-secondary-text-ink-color: var(--mdc-drawer-ink-color);
	--mdc-list-item-meta-ink-color: var(--mdc-drawer-ink-color);		
	background-color: var(--mdc-drawer-fill-color);}
.mdc-drawer .mdc-drawer__title {
    color: var(--mdc-drawer-ink-color);}
.mdc-drawer .mdc-list-group__subheader {
    color: var(--mdc-drawer-ink-color);}
.mdc-drawer .mdc-drawer__subtitle {
    color: var(--mdc-drawer-ink-color);
    opacity: .6;}
.mdc-drawer .mdc-list-item__graphic {
    color: var(--mdc-drawer-ink-color); }
.mdc-drawer .mdc-list-item {
    color: var(--mdc-drawer-ink-color); }
.mdc-drawer .mdc-list-item--selected .mdc-list-item__graphic,
.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
    color: var(--mdc-list-item-selected-graphic-ink-color); }
.mdc-drawer .mdc-list-item--selected,
.mdc-drawer .mdc-list-item--activated {
    color: var(--mdc-list-item-selected-graphic-ink-color); }	
.mdc-drawer .mdc-list-item {
    border-radius: var(--mdc-rounded-border-radius); }
/* ==========================================================================
   Menu
   ========================================================================== */
.mdc-menu-surface {
	border-radius: var(--mdc-rounded-border-radius);}
	
/* ==========================================================================
   Snackbar
   ========================================================================== */
   
.mdc-snackbar {
	z-index: 4;
	bottom: calc(var(--mdc-snackbar-bottom) + var(--mdc-snackbar-position-adjust));}  
@media (min-width: 600px) {
	.mdc-snackbar {
		bottom: calc(var(--mdc-snackbar-bottom) + var(--mdc-snackbar-position-adjust));
		border-radius: var(--mdc-rounded-border-radius);} 
  	.mdc-snackbar--align-start {
		bottom: calc(24px + var(--mdc-snackbar-position-adjust));}
}
@media (max-width: 599px) {
	.mdc-snackbar--active:not(.mdc-snackbar--align-start),
	.mdc-snackbar,
  	.mdc-snackbar--align-start {
 		bottom: calc(var(--mdc-snackbar-bottom) + var(--mdc-snackbar-position-adjust));}  	
  	.mdc-snackbar,
  	.mdc-snackbar--active:not(.mdc-snackbar--align-start) {
  		max-width: calc(100% - calc(var(--mdc-snackbar-bottom) * 2));
  		left: var(--mdc-snackbar-bottom);
  		border-radius: var(--mdc-rounded-border-radius);}
}
.mdc-snackbar__action-button {
	color: var(--mdc-theme-secondary);}
.mdc-snackbar--action-on-bottom .mdc-snackbar__text {
	margin: 16px 0 16px 0 !important;
	width: 100%;
	text-align: left;}	   
.mdc-snackbar--multiline .mdc-snackbar__text {
	margin: 16px 0 16px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-height: 1.5rem;
	height: calc(1.5rem * 2);}
@media (max-width: 599px) {	
	.mdc-snackbar--multiline.mdc-snackbar--active ~ .mdc-fab--fixed {		
		bottom: calc(1rem + 80px + var(--mdc-snackbar-position-adjust));		
		-webkit-transition: bottom 0.25s;
		transition: bottom 0.25s;}
	.mdc-snackbar--active ~ .mdc-fab--fixed {	
		bottom: calc(1rem + 48px + var(--mdc-snackbar-position-adjust));		
		-webkit-transition: bottom 0.25s;    
		transition: bottom 0.25s;}
}		

/* ==========================================================================
   Dialog
   ========================================================================== */
.mdc-dialog .mdc-dialog__surface {	
	background-color: var(--mdc-dialog-body-fill-color);
	border-radius: var(--mdc-rounded-border-radius);}
.mdc-dialog .mdc-dialog__title {
	color: var(--mdc-dialog-header-ink-color);
	background-color: var(--mdc-dialog-header-fill-color); }
.mdc-dialog .mdc-dialog__title:empty {
	display: none;}	
.mdc-dialog .mdc-dialog__title:empty  + .mdc-dialog__content {
  	padding-top: 20px; }	
.mdc-dialog .mdc-dialog__content,
.mdc-dialog .mdc-dialog__content .mdc-typography {
	color: var(--mdc-dialog-body-ink-color);}
.mdc-dialog .mdc-dialog__footer {
	color: var(--mdc-dialog-action-ink-color);
	background-color:  var(--mdc-dialog-action-fill-color);}
/* Button into dialog */
.mdc-dialog__button.mdc-button, 
.mdc-dialog__button.mdc-button--outlined:not(:disabled) {
	--mdc-button-ink-color: var(--mdc-dialog-action-ink-color);}
.mdc-dialog__button.mdc-button--raised:not(:disabled),
.mdc-dialog__button.mdc-button--unelevated:not(:disabled) {
	--mdc-button-raised-ink-color: var(--mdc-dialog-action-raised-ink-color);
	--mdc-button-raised-fill-color: var(--mdc-dialog-action-ink-color);}
	
/* ==========================================================================
   Card
   ========================================================================== */
.mdc-card[disabled] {
	opacity: 0.37;}
.mdc-card {
	overflow: hidden;
	border-radius: var(--mdc-rounded-border-radius);}
.mdc-card__content {
	width: 100%;
	background-color: var(--mdc-card-fill-color);}
.mdc-card__content:empty {
	display: none;}
.mdc-card .mdc-typography {
	color: var(--mdc-card-ink-color);}
.mdc-card .mdc-typography[class*="subtitle"],
.mdc-card .mdc-typography[class*="caption"] {
	opacity: .87;}
/* general icon */
.mdc-card__action--button(.mdc-icon-toggle):not(.mdc-icon-button):not(.mdc-button) {
	color: var(--mdc-card-button-color);}
.mdc-card__action--icon:not(.mdc-icon-toggle):not(.mdc-icon-button):not(.mdc-button) {
	color: var(--mdc-card-icon-color);}
/* icon toggle */
.mdc-card__action--button.mdc-icon-toggle {
	--mdc-icon-toggle-ink-color: var(--mdc-card-button-color);
	color: var(--mdc-icon-toggle-ink-color);}
.mdc-card__action--icon.mdc-icon-toggle {
	--mdc-icon-toggle-ink-color: var(--mdc-card-icon-color);
	color: var(--mdc-icon-toggle-ink-color);}
/* icon button */
.mdc-card__action--button.mdc-icon-button {
	--mdc-icon-button-ink-color: var(--mdc-card-button-color);
	color: var(--mdc-icon-button-ink-color);}
.mdc-card__action--icon.mdc-icon-button {
	--mdc-icon-button-ink-color: var(--mdc-card-icon-color);
	color: var(--mdc-icon-button-ink-color);}		
/* buttons */	
.mdc-card__action--button.mdc-button, 
.mdc-card__action--button.mdc-button--outlined:not(:disabled) {
	--mdc-button-ink-color: var(--mdc-card-button-color);
	color: var(--mdc-button-ink-color);}
.mdc-card__action--button.mdc-button--raised:not(:disabled),
.mdc-card__action--button.mdc-button--unelevated:not(:disabled) {
	--mdc-button-raised-ink-color: var(--mdc-card-raised-button-ink-color);
	--mdc-button-raised-fill-color: var(--mdc-card-button-color);
	color: var(--mdc-button-raised-ink-color);
	background-color: var(--mdc-button-raised-fill-color);}		
.mdc-card__action--icon.mdc-button, 
.mdc-card__action--icon.mdc-button--outlined:not(:disabled) {
	--mdc-button-ink-color: var(--mdc-card-icon-color);
	color: var(--mdc-button-ink-color);}
.mdc-card__action--icon.mdc-button--raised:not(:disabled),
.mdc-card__action--icon.mdc-button--unelevated:not(:disabled) {
	--mdc-button-raised-ink-color: var(--mdc-card-raised-icon-ink-color);
	--mdc-button-raised-fill-color: var(--mdc-card-icon-color);
	color: var(--mdc-button-raised-ink-color);
	background-color: var(--mdc-button-raised-fill-color);}	


/* ==========================================================================
   Material select menu
   ========================================================================== */
.mdc-select__native-control {
	overflow: hidden;
    border-radius: var(--mdc-rounded-border-radius);}
.mdc-select--outlined .mdc-notched-outline {
    border-radius: var(--mdc-rounded-border-radius);}
.mdc-select--outlined .mdc-notched-outline__idle {
    border-radius: var(--mdc-rounded-border-radius);}
.mdc-select--outlined__native-control {
    border-radius: var(--mdc-rounded-border-radius);} 

.mdc-select:not(.mdc-select--outlined) .mdc-notched-outline,
.mdc-select:not(.mdc-select--outlined) .mdc-notched-outline__idle {
	display: none;}
.mdc-select--outlined .mdc-line-ripple {
	display: none;}	

.mdc-select:not(.mdc-select--disabled):not([disabled]) .mdc-select__native-control ~ .mdc-floating-label {
    color: var(--mdc-text-field--ink-color);}
.mdc-select:not(.mdc-select--disabled):not([disabled]) .mdc-select__native-control:focus ~ .mdc-floating-label,    
.mdc-select--focused:not(.mdc-select--disabled):not([disabled]) .mdc-floating-label {
	color: var(--mdc-text-field--focused-color) !important;}
.mdc-select--outlined:not(.mdc-select--disabled):not([disabled]) .mdc-notched-outline__idle {
    border-color: var(--mdc-text-field--ink-color);}
.mdc-select--outlined:not(.mdc-select--disabled):not([disabled]) .mdc-notched-outline__path {
    stroke: var(--mdc-text-field--ink-color); }    
.mdc-select--outlined:not(.mdc-select--disabled):not(.mdc-select__native-control:focus) .mdc-select__native-control:hover ~ .mdc-notched-outline__idle {
    border-color: var(--mdc-text-field--focused-color);}
.mdc-select--outlined:not(.mdc-select--disabled):not(.mdc-select__native-control:focus) .mdc-select__native-control:hover ~ .mdc-notched-outline .mdc-notched-outline__path {
    stroke: var(--mdc-text-field--focused-color);}
.mdc-select--outlined:not(.mdc-select--disabled) .mdc-select__native-control:focus ~ .mdc-notched-outline .mdc-notched-outline__path {
    stroke: var(--mdc-text-field--focused-color);}  
.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control:focus ~ .mdc-line-ripple {
    background-color: var(--mdc-text-field--focused-color);}    
      	
/* Shaped */
.mdc-select--outlined.mdc-select--shaped {
	--mdc-rounded-border-radius: 28px;}
.mdc-select--outlined.mdc-select--shaped .mdc-floating-label--float-above {
	margin-left: 34px;}  

/* Unborded */
.mdc-select--unbordered .mdc-line-ripple,
.mdc-select--unbordered .mdc-notched-outline,
.mdc-select--unbordered .mdc-notched-outline__idle {
	visibility: hidden;}
.mdc-select--unbordered .mdc-select__native-control {
	border-bottom: none;}
	    
/* ==========================================================================
   Textfield color adjust
   ========================================================================== */
.mdc-text-field input::-webkit-search-decoration,
.mdc-text-field input::-webkit-search-cancel-button,
.mdc-text-field input::-webkit-search-results-button,
.mdc-text-field input::-webkit-search-results-decoration,
.mdc-text-field input::-webkit-outer-spin-button,
.mdc-text-field input::-webkit-inner-spin-button {
	display: none;} 
   
/* Disabled General */   
.mdc-text-field[disabled] * {
	color: var(--mdc-theme-text-disabled-on-background, rgba(0, 0, 0, 0.24)) !important;}
.mdc-text-field[disabled] .mdc-text-field__input {
	border-bottom-color: var(--mdc-theme-text-disabled-on-background, rgba(0, 0, 0, 0.24)) !important;}
.mdc-text-field__input:required + .mdc-floating-label:empty::after {
	content: "";}
.mdc-text-field--box.mdc-text-field--disabled,
.mdc-text-field--box[disabled] {
	background-color: rgb(127,127,127, 0.2);}

/* Disabled Text Field */
.mdc-text-field--fullwidth.mdc-text-field--disabled:not([state]):not(.mdc-text-field--textarea) .mdc-text-field__input,
.mdc-text-field--fullwidth[disabled]:not([state]):not(.mdc-text-field--textarea) .mdc-text-field__input {	
	border-bottom: 1px solid var(--mdc-theme-text-disabled-on-background, rgba(0, 0, 0, 0.24)) !important;}

/* Disabled Text Area */
.mdc-text-field--textarea.mdc-text-field--disabled:not([state]) .mdc-text-field__input,
.mdc-text-field--textarea[disabled]:not([state]) .mdc-text-field__input {
	border: 1px solid var(--mdc-theme-text-disabled-on-background, rgba(0, 0, 0, 0.24)) !important;}
.mdc-text-field--textarea.mdc-text-field--disabled:not([state]) .mdc-floating-label:after,
.mdc-text-field--textarea[disabled]:not([state]) .mdc-floating-label:after {
	background-color: rgb(127,127,127, 0.2);}	
	   
/* General */
.mdc-text-field {	
	border-radius: var(--mdc-rounded-border-radius);}
.mdc-text-field--outlined .mdc-notched-outline {
    border-radius: var(--mdc-rounded-border-radius); }
.mdc-text-field--outlined .mdc-notched-outline__idle {
    border-radius: var(--mdc-rounded-border-radius); }  
.mdc-text-field--textarea,
.mdc-text-field--textarea .mdc-text-field__input {
	border-radius: var(--mdc-rounded-border-radius);}
.mdc-text-field__icon:empty {
	display: none;}
.mdc-text-field--fullwidth:not(.mdc-text-field--textarea) .mdc-text-field__input {
	padding-top: 18px;}
.mdc-text-field--textarea .mdc-text-field__input {
	min-height: 36px;
	resize: none;}
.mdc-text-field--textarea .mdc-floating-label {	
	margin-right: 1px;}
.mdc-text-field--textarea.mdc-text-field--box .mdc-floating-label {
	width: calc(100% - 36px);}
.mdc-text-field--textarea.mdc-text-field--outlined .mdc-floating-label {
	z-index: 2;	
	right: 8px;}
.mdc-text-field--textarea.mdc-text-field--box.mdc-text-field--dense  .mdc-text-field__input,
.mdc-text-field--textarea.mdc-text-field--outlined.mdc-text-field--dense  .mdc-text-field__input {	
	padding-top: 36px;}
.mdc-text-field--textarea.mdc-text-field--outlined.mdc-text-field--box.mdc-text-field--dense .mdc-floating-label--float-above,
.mdc-text-field--textarea.mdc-text-field--outlined.mdc-text-field--outlined.mdc-text-field--dense .mdc-floating-label--float-above {
	height: 8px;}
.mdc-text-field--textarea.mdc-text-field--box .mdc-floating-label:after {
	position: absolute;
    content:"";
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: rgb(127,127,127, 0.3);}
.mdc-text-field--textarea.mdc-text-field--box.mdc-text-field--dense,
.mdc-text-field--textarea.mdc-text-field--outlined.mdc-text-field--dense {
	height: initial;}
.mdc-text-field--textarea.mdc-text-field--box.mdc-text-field--dense .mdc-floating-label--float-above {
    top: 23px;}
.mdc-text-field--textarea.mdc-text-field--outlined.mdc-text-field--dense .mdc-floating-label--float-above {
    -webkit-transform: translateY(-66%) scale(0.923);
            transform: translateY(-66%) scale(0.923);}

/* Shaped */
.mdc-text-field--outlined.mdc-text-field--shaped {
	--mdc-rounded-border-radius: 28px;}
.mdc-text-field--outlined.mdc-text-field--shaped .mdc-floating-label--float-above {
	margin-left: 34px;}

.mdc-text-field--dense.mdc-text-field--outlined.mdc-text-field--shaped {
    --mdc-rounded-border-radius:  24px;}
.mdc-text-field--dense.mdc-text-field--outlined.mdc-text-field--shaped .mdc-floating-label--float-above {
	margin-left: 26px;}
.mdc-text-field--dense.mdc-text-field--outlined.mdc-text-field--shaped .mdc-text-field__input {
	padding-top: 6px;
	padding-left: 16px;}	
.mdc-text-field--dense.mdc-text-field--outlined.mdc-text-field--shaped .mdc-text-field__input {
	padding-right: 16px;}

/* Unborded */
.mdc-text-field--unbordered .mdc-line-ripple,
.mdc-text-field--unbordered .mdc-notched-outline,
.mdc-text-field--unbordered .mdc-notched-outline__idle {
	visibility: hidden;}
.mdc-text-field--unbordered .mdc-text-field__input {
	border-bottom: none;}
	
/* -------------------------------------------------------------------- */
/* Add property to change color											*/
/* --------------------------------------------------------------------	*/
.mdc-text-field__input {
	background-color: transparent;}
.mdc-text-field,
.mdc-text-field--textarea .mdc-floating-label {
	background-color: var(--mdc-text-field--fill-color) !important;} 
.mdc-text-field:not(.mdc-text-field--disabled):not([disabled]) .mdc-text-field__input,
.mdc-text-field:not(.mdc-text-field--disabled):not([disabled]) .mdc-text-field__icon,  
.mdc-text-field:not(.mdc-text-field--disabled):not([disabled]) + .mdc-text-field-helper-text {
    color: var(--mdc-text-field--ink-color);
	caret-color: var(--mdc-text-field--ink-color);}
.mdc-text-field--focused:not(.mdc-text-field--disabled):not([disabled]) .mdc-text-field__icon,	
.mdc-text-field--focused:not(.mdc-text-field--disabled):not([disabled]) .mdc-text-field__input {
	caret-color: var(--mdc-text-field--focused-color);}
.mdc-text-field:not(.mdc-text-field--outlined) .mdc-notched-outline,
.mdc-text-field:not(.mdc-text-field--outlined) .mdc-notched-outline__idle {
	display: none;}
.mdc-text-field.mdc-text-field--outlined .mdc-line-ripple {
	display: none;}
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--textarea):not([disabled]) .mdc-notched-outline__idle {
    border-color: var(--mdc-text-field--ink-color);}
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not([disabled]) .mdc-notched-outline__path {
    stroke: var(--mdc-text-field--ink-color); }
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):not([disabled]):not(.mdc-text-field--textarea) .mdc-text-field__input:hover ~ .mdc-notched-outline__idle,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):not([disabled]):not(.mdc-text-field--textarea) .mdc-text-field__icon:hover ~ .mdc-notched-outline__idle {
    border-color: var(--mdc-text-field--focused-color);}
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):not([disabled]) .mdc-text-field__input:hover ~ .mdc-notched-outline .mdc-notched-outline__path,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):not([disabled]) .mdc-text-field__icon:hover ~ .mdc-notched-outline .mdc-notched-outline__path {
    stroke: var(--mdc-text-field--focused-color);}
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not([disabled]).mdc-text-field--focused .mdc-notched-outline__path {
    stroke: var(--mdc-text-field--focused-color);}
.mdc-text-field:not(.mdc-text-field--disabled):not([disabled]) .mdc-floating-label {
    color: var(--mdc-text-field--ink-color);}
.mdc-text-field--focused:not(.mdc-text-field--disabled):not([disabled]):not([state]) .mdc-floating-label {
	color: var(--mdc-text-field--focused-color) !important;}
.mdc-text-field .mdc-line-ripple {
    background-color: var(--mdc-text-field--focused-color);}
.mdc-text-field--box:not(.mdc-text-field--disabled):not([disabled]) {
    background-color: rgb(127,127,127, 0.3);}
.mdc-text-field--box::before, .mdc-text-field--box::after {
    background-color: rgba(0, 0, 0, 0.87);}

/* Text Field */
.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea):not([disabled]) .mdc-text-field__input,
.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea):not([disabled]) .mdc-text-field__input:hover {    
    border-bottom-color: var(--mdc-text-field--ink-color); }
.mdc-text-field--fullwidth:not([state]):not(.mdc-text-field--disabled):not([disabled]):not(.mdc-text-field--textarea)  .mdc-text-field__input {
	border-bottom: 1px solid var(--mdc-text-field--ink-color) !important;}

/* Text Area */
.mdc-text-field.mdc-text-field--textarea:not(.mdc-text-field--disabled):not([disabled]):not([state]):not(.mdc-text-field--focused) .mdc-text-field__input,
.mdc-text-field.mdc-text-field--textarea:not(.mdc-text-field--disabled):not([disabled]):not([state]):not(.mdc-text-field--focused) .mdc-text-field__input:hover {    
    border: 1px solid var(--mdc-text-field--ink-color) !important;}
.mdc-text-field--textarea:not([state]):not(.mdc-text-field--disabled):not([disabled]):not(.mdc-text-field--focused) .mdc-text-field__input {
	border: 1px solid var(--mdc-text-field--ink-color) !important;}
.mdc-text-field--textarea .mdc-notched-outline {
	display: none;}
.mdc-text-field--textarea.mdc-text-field--focused .mdc-text-field__input,
.mdc-text-field--textarea.mdc-text-field--focused .mdc-text-field__input:hover {
	border: 1px solid var(--mdc-text-field--focused-color) !important;}
.mdc-text-field--textarea,
.mdc-text-field--textarea.mdc-text-field--focused {
	border: none !important;}

/* -------------------------------------------------------------------- */
/* Adjust icon in full width											*/
/* --------------------------------------------------------------------	*/ 

/* standard */
.mdc-text-field--fullwidth.mdc-text-field--with-leading-icon .mdc-text-field__input {
	width: calc(100% - 48px);
	padding-left: 48px;}
[dir="rtl"] .mdc-text-field--fullwidth.mdc-text-field--with-leading-icon .mdc-text-field__input {
	width: calc(100% - 48px);
	padding-right: 48px;}
.mdc-text-field--fullwidth.mdc-text-field--with-trailing-icon .mdc-text-field__input {
	width: calc(100% - 48px);
	padding-right: 48px;}
[dir="rtl"] .mdc-text-field--fullwidth.mdc-text-field--with-trailing-icon .mdc-text-field__input {
	width: calc(100% - 48px);
	padding-left: 48px;} 

/* dense */
.mdc-text-field--fullwidth.mdc-text-field--dense.mdc-text-field--with-leading-icon .mdc-text-field__input {
	width: calc(100% - 38px);
	padding-left: 38px;}
[dir="rtl"] .mdc-text-field--fullwidth.mdc-text-field--dense.mdc-text-field--with-leading-icon .mdc-text-field__input {
	width: calc(100% - 38px);
	padding-right: 38px;}
.mdc-text-field--fullwidth.mdc-text-field--dense.mdc-text-field--with-trailing-icon .mdc-text-field__input {
	width: calc(100% - 38px);
	padding-right: 38px;}
[dir="rtl"] .mdc-text-field--fullwidth.mdc-text-field--dense.mdc-text-field--with-trailing-icon .mdc-text-field__input {
	width: calc(100% - 38px);
	padding-left: 38px;} 

/* --------------------------------------------------------------------	*/
/* Configure state class												*/
/* -------------------------------------------------------------------- */ 
/* --------------- */
/* State = SUCCESS */
/* --------------- */
.mdc-text-field[state="success"] {
	caret-color: var(--mdc-state--success) !important;}
.mdc-text-field[state="success"] .mdc-text-field__icon,
.mdc-text-field[state="success"] .mdc-floating-label,
.mdc-text-field[state="success"] + .mdc-text-field-helper-text {
	color: var(--mdc-state--success) !important;}
.mdc-text-field[state="success"] .mdc-notched-outline__idle {
	border-color: var(--mdc-state--success) !important;}
.mdc-text-field[state="success"] .mdc-notched-outline__path {
	stroke: var(--mdc-state--success) !important;}
.mdc-text-field[state="success"] .mdc-line-ripple {
    background-color: var(--mdc-state--success) !important;}

/* Text Field */
.mdc-text-field[state="success"]:not(.mdc-text-field--textarea) .mdc-text-field__input {
	border-bottom-color: var(--mdc-state--success) !important;}
.mdc-text-field--fullwidth[state="success"]:not(.mdc-text-field--disabled):not([disabled]):not(.mdc-text-field--textarea)  .mdc-text-field__input {
	border-bottom: 1px solid var(--mdc-state--success) !important;}

/* Text Area */
.mdc-text-field.mdc-text-field--textarea[state="success"] .mdc-text-field__input {
	border-color: var(--mdc-state--success) !important;}
.mdc-text-field--textarea.mdc-text-field--fullwidth[state="success"]:not(.mdc-text-field--disabled):not([disabled]) .mdc-text-field__input {
	border: 1px solid var(--mdc-state--success) !important;}

/* --------------- */
/* State = WARNING */
/* --------------- */
.mdc-text-field[state="warning"] {
	caret-color: var(--mdc-state--warning) !important;}
.mdc-text-field[state="warning"] .mdc-text-field__icon,
.mdc-text-field[state="warning"] .mdc-floating-label,
.mdc-text-field[state="warning"] + .mdc-text-field-helper-text {
	color: var(--mdc-state--warning) !important;}
.mdc-text-field[state="warning"] .mdc-notched-outline__idle {
	border-color: var(--mdc-state--warning) !important;}
.mdc-text-field[state="warning"] .mdc-notched-outline__path {
	stroke: var(--mdc-state--warning) !important;}
.mdc-text-field[state="warning"] .mdc-line-ripple {
    background-color: var(--mdc-state--warning) !important;}

/* Text Field */
.mdc-text-field[state="warning"]:not(.mdc-text-field--textarea) .mdc-text-field__input {
	border-bottom-color: var(--mdc-state--warning) !important;}
.mdc-text-field--fullwidth[state="warning"]:not(.mdc-text-field--disabled):not([disabled]):not(.mdc-text-field--textarea)  .mdc-text-field__input {
	border-bottom: 1px solid var(--mdc-state--warning) !important;}

/* Text Area */
.mdc-text-field.mdc-text-field--textarea[state="warning"] .mdc-text-field__input {
	border-color: var(--mdc-state--warning) !important;}
.mdc-text-field--textarea.mdc-text-field--fullwidth[state="warning"]:not(.mdc-text-field--disabled):not([disabled]) .mdc-text-field__input {
	border: 1px solid var(--mdc-state--warning) !important;}

/* ------------- */
/* State = ERROR */
/* ------------- */
.mdc-text-field[state="error"] {
	caret-color: var(--mdc-state--error) !important;}
.mdc-text-field[state="error"] .mdc-text-field__icon,
.mdc-text-field[state="error"] .mdc-floating-label,
.mdc-text-field[state="error"] + .mdc-text-field-helper-text {
	color: var(--mdc-state--error) !important;}
.mdc-text-field[state="error"] .mdc-notched-outline__idle {
	border-color: var(--mdc-state--error) !important;}
.mdc-text-field[state="error"] .mdc-notched-outline__path {
	stroke: var(--mdc-state--error) !important;}
.mdc-text-field[state="error"] .mdc-line-ripple {
    background-color: var(--mdc-state--error) !important;}

/* Text Field */
.mdc-text-field[state="error"]:not(.mdc-text-field--textarea) .mdc-text-field__input {
	border-bottom-color: var(--mdc-state--error) !important;}
.mdc-text-field--fullwidth[state="error"]:not(.mdc-text-field--disabled):not([disabled]):not(.mdc-text-field--textarea)  .mdc-text-field__input {
	border-bottom: 1px solid var(--mdc-state--error) !important;}

/* Text Area */
.mdc-text-field.mdc-text-field--textarea[state="error"] .mdc-text-field__input {
	border-color: var(--mdc-state--error) !important;}
.mdc-text-field--textarea.mdc-text-field--fullwidth[state="error"]:not(.mdc-text-field--disabled):not([disabled]) .mdc-text-field__input {
	border: 1px solid var(--mdc-state--error) !important;}	

/* ==========================================================================
   Configure placeholder color
   ========================================================================== */
::-webkit-input-placeholder{
	color: var(--mdc-placeholder-ink-color);}
::-moz-placeholder{
	color: var(--mdc-placeholder-ink-color);}
:-ms-input-placeholder{
	color: var(--mdc-placeholder-ink-color);}
:-moz-placeholder {
	color: var(--mdc-placeholder-ink-color);}
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input::-webkit-input-placeholder{
  color: var(--mdc-placeholder-ink-color); }
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input:-ms-input-placeholder{
  color: var(--mdc-placeholder-ink-color); }
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input::-ms-input-placeholder{
  color: var(--mdc-placeholder-ink-color); }
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder{
  color: var(--mdc-placeholder-ink-color); }
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-text-field__input::-webkit-input-placeholder{
  color: var(--mdc-placeholder-ink-color); }
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-text-field__input:-ms-input-placeholder{
  color: var(--mdc-placeholder-ink-color); }
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-text-field__input::-ms-input-placeholder{
  color: var(--mdc-placeholder-ink-color); }
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder{
  color: var(--mdc-placeholder-ink-color); }
.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-text-field__input::-webkit-input-placeholder{
  color: var(--mdc-placeholder-ink-color); }
.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-text-field__input:-ms-input-placeholder{
  color: var(--mdc-placeholder-ink-color); }
.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-text-field__input::-ms-input-placeholder{
  color: var(--mdc-placeholder-ink-color); }
.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder {
  color: var(--mdc-placeholder-ink-color); }	

/* ==========================================================================
   Adjust Image List
   ========================================================================== */
@media ( min-width : 840px) {
	.mdc-image-list--masonry {
		-webkit-column-count: var(--mdc-image-list--column-count-desktop, 5);
		column-count: var(--mdc-image-list--column-count-desktop, 5);
		-webkit-column-gap: var(--mdc-image-list--column-gap-desktop, 16px);
		column-gap: var(--mdc-image-list--column-gap-desktop, 16px);}	
	.mdc-image-list--masonry > * {		
		margin-bottom: var(--mdc-image-list--column-gap-desktop, 16px);}	
	.mdc-image-list:not(.mdc-image-list--masonry) {
		padding: calc(var(--mdc-image-list--column-gap-desktop, 16px) / 2);}	
	.mdc-image-list:not(.mdc-image-list--masonry) > * {
		width: calc(100% / var(--mdc-image-list--column-count-desktop, 5) - var(--mdc-image-list--column-gap-desktop, 16px));
		margin: calc(var(--mdc-image-list--column-gap-desktop, 16px) / 2);}
}

@media (min-width: 480px) and (max-width: 839px) {
	.mdc-image-list--masonry {
		-webkit-column-count: var(--mdc-image-list--column-count-tablet, 3);
		column-count: var(--mdc-image-list--column-count-tablet, 3);
		-webkit-column-gap: var(--mdc-image-list--column-gap-tablet, 8px);
		column-gap: var(--mdc-image-list--column-gap-tablet, 8px);}	
	.mdc-image-list--masonry > * {		
		margin-bottom: var(--mdc-image-list--column-gap-tablet, 8px);}	
	.mdc-image-list:not(.mdc-image-list--masonry) {
		padding: calc(var(--mdc-image-list--column-gap-tablet, 8px) / 2);}	
	.mdc-image-list:not(.mdc-image-list--masonry) > * {
		width: calc(100% / var(--mdc-image-list--column-count-tablet, 3) - var(--mdc-image-list--column-gap-tablet, 8px));
		margin: calc(var(--mdc-image-list--column-gap-tablet, 8px) / 2);}
}

@media (max-width: 479px) {
	.mdc-image-list--masonry {
		-webkit-column-count: var(--mdc-image-list--column-count-phone, 1);
		column-count: var(--mdc-image-list--column-count-phone, 1);
		-webkit-column-gap: var(--mdc-image-list--column-gap-phone, 8px);
		column-gap: var(--mdc-image-list--column-gap-phone, 8px);}	
	.mdc-image-list--masonry > * {		
		margin-bottom: var(--mdc-image-list--column-gap-phone, 8px);}	
	.mdc-image-list:not(.mdc-image-list--masonry) {
		padding: calc(var(--mdc-image-list--column-gap-phone, 8px) / 2);}	
	.mdc-image-list:not(.mdc-image-list--masonry) > * {
		width: calc(100% / var(--mdc-image-list--column-count-phone, 1) - var(--mdc-image-list--column-gap-phone, 8px));
		margin: calc(var(--mdc-image-list--column-gap-phone, 8px) / 2);}
}

/* ==========================================================================
   Layout Grid adjust
   ========================================================================== */
.mdc-layout-grid {
	width: 100%;}
.mdc-layout-grid__cell {
	display: flex;
	align-content: flex-start;
	align-items: flex-start;
	justify-content: flex-start;}	