:root {
	
	/* Button */
	--mdc-button-container-fill-color: var(--mdc-theme-primary);
	--mdc-button-icon-color: var(--mdc-theme-primary);
	--mdc-button-ink-color: var(--mdc-theme-primary);
	--mdc-button-corner-radius: 4px;
	--mdc-button-outline-color: var(--mdc-theme-primary);
	
	/* Fab */
	--mdc-fab-container-color: var(--mdc-theme-secondary);
	--mdc-fab-ink-color: var(--mdc-theme-on-secondary);
	
	/* Icon button */
	--mdc-icon-button-ink-color: var(--mdc-theme-primary);
	
	/* Icon toggle */
	--mdc-icon-toggle-ink-color: var(--mdc-theme-primary);
	
	/* Card */
	--mdc-card-fill-color: var(--mdc-theme-surface);
	--mdc-card-outline: var(--mdc-theme-surface);
	--mdc-card-corner-radius: 4px;
	
	/* Chip */
	--mdc-chip-corner-radius: 16px;
	--mdc-chip-fill-color-accessible: none;
	--mdc-chip-fill-color: none;
	--mdc-chip-ink-color: none;
	--mdc-chip-selected-ink-color: none;
	--mdc-chip-outline-width: 2px;
	--mdc-chip-outline-style: solid;
	--mdc-chip-outline-color: none;
	--mdc-chip-leading-icon-color: none;
	--mdc-chip-trailing-icon-color: none;
	
	/* Linear progress */
	--mdc-linear-progress-bar-color: none;
	--mdc-linear-progress-buffer-color: none;
	
	/* Slider */
	--mdc-slider-highlight-color: none;
  	--mdc-slider-rail-color: none;
  	--mdc-slider-rail-tick-mark-color: none;
  	--mdc-slider-thumb-color: none;
  	--mdc-slider-focus-halo-color: none;
  	--mdc-slider-value-pin-fill-color-accessible: none;
}

/* ==========================================================================
   Icon button
   ========================================================================== */
.mdc-icon-button {
	color: var(--mdc-icon-button-ink-color);
}

.mdc-icon-button[disabled] {
	color: var(--mdc-theme-text-disabled-on-background);
}

.mdc-icon-button.mdc-ripple-surface--color::before, 
.mdc-icon-button.mdc-ripple-surface--color::after {
	background-color: var(--mdc-icon-button-ink-color);
}

/* ==========================================================================
   Icon toggle
   ========================================================================== */
.mdc-icon-toggle {
	color: var(--mdc-icon-toggle-ink-color, rgba(0, 0, 0, 0.38));
}

.mdc-icon-toggle[disabled] {
	opacity: 0.26;
	color: var(--mdc-theme-text-disabled-on-light, rgba(0, 0, 0, 0.38));
}   

.mdc-icon-toggle.mdc-list-item__start-detail {
	width: 36px;
	height: 36px;
	margin-left: -6px;
}

.mdc-icon-toggle.mdc-list-item__end-detail {
	width: 36px;
	height: 36px;
	margin-right: -6px;
}

.mdc-icon-toggle.mdc-ripple-surface--color::before, 
.mdc-icon-toggle.mdc-ripple-surface--color::after {
	background-color: var(--mdc-icon-toggle-ink-color, rgba(0, 0, 0, 0.38));
}

/* ==========================================================================
   Slider color adjust
   ========================================================================== */
.mdc-slider:not(.mdc-slider--discrete) .mdc-slider__pin {
	display: none;
}

.mdc-slider:not(.mdc-slider--display-markers) .mdc-slider__track-marker-container {
	display: none;
}

.mdc-slider:not(.mdc-slider--disabled):not([disabled]) .mdc-slider__track {
    background-color: #018786;
    /* @alternate */
    background-color: var(--mdc-slider--color, var(--mdc-theme-secondary, #018786)); }
  .mdc-slider:not(.mdc-slider--disabled):not([disabled]) .mdc-slider__track-container {
    background-color: var(--mdc-slider--background-color, rgba(1, 135, 134, 0.26)); }
  .mdc-slider:not(.mdc-slider--disabled):not([disabled]) .mdc-slider__track-marker::after,
  .mdc-slider:not(.mdc-slider--disabled):not([disabled]) .mdc-slider__track-marker-container::after {
    background-color: #018786;
    /* @alternate */
    background-color: var(--mdc-slider--color, var(--mdc-theme-secondary, #018786)); }
  .mdc-slider:not(.mdc-slider--disabled):not([disabled]) .mdc-slider__thumb {
    fill: #018786;
    /* @alternate */
    fill: var(--mdc-slider--color, var(--mdc-theme-secondary, #018786));
    stroke: #018786;
    /* @alternate */
    stroke: var(--mdc-slider--color, var(--mdc-theme-secondary, #018786)); }
  .mdc-slider:not(.mdc-slider--disabled):not([disabled]) .mdc-slider__focus-ring {
    background-color: #018786;
    /* @alternate */
    background-color: var(--mdc-slider--color, var(--mdc-theme-secondary, #018786)); }
  .mdc-slider:not(.mdc-slider--disabled):not([disabled]) .mdc-slider__pin {
    background-color: #018786;
    /* @alternate */
    background-color: var(--mdc-slider--color, var(--mdc-theme-secondary, #018786)); }
  .mdc-slider:not(.mdc-slider--disabled):not([disabled]) .mdc-slider__pin {
    color: white;
    /* @alternate */
    color: var(--mdc-slider--text-color, var(--mdc-theme-text-primary-on-dark, white)); }    
  .mdc-slider--disabled .mdc-slider__thumb {
      stroke: #9a9a9a;
      fill: #9a9a9a; }

