:root {
	
	--mdc-track-opacity: 0.38;
	--mdc-background-opacity: linear-gradient(rgba(255, 255, 255, calc(1.0 - var(--mdc-track-opacity))), rgba(255, 255, 255, calc(1.0 - var(--mdc-track-opacity)))) no-repeat;
	
	/* Button */
	--mdc-button-container-fill-color: var(--mdc-theme-primary);
	--mdc-button-icon-color: var(--mdc-theme-primary);
	--mdc-button-ink-color: var(--mdc-theme-primary);
	--mdc-button-corner-radius: 4px;
	--mdc-button-outline-color: var(--mdc-theme-primary);
	
	/* Fab */
	--mdc-fab-container-color: var(--mdc-theme-secondary);
	--mdc-fab-ink-color: var(--mdc-theme-on-secondary);
	
	/* Icon button */
	--mdc-icon-button-ink-color: var(--mdc-theme-primary);
	
	/* Icon toggle */
	--mdc-icon-toggle-ink-color: var(--mdc-theme-primary);
	
	/* Card */
	--mdc-card-fill-color: var(--mdc-theme-surface);
	--mdc-card-outline: var(--mdc-theme-surface);
	--mdc-card-corner-radius: 4px;
	
	/* Chip */
	--mdc-chip-corner-radius: 16px;
	--mdc-chip-fill-color-accessible: none;
	--mdc-chip-fill-color: none;
	--mdc-chip-ink-color: none;
	--mdc-chip-selected-ink-color: none;
	--mdc-chip-outline-width: 2px;
	--mdc-chip-outline-style: solid;
	--mdc-chip-outline-color: none;
	--mdc-chip-leading-icon-color: none;
	--mdc-chip-trailing-icon-color: none;
	
	/* Linear progress */
	--mdc-linear-progress-indicator-color: var(--mdc-theme-secondary);
	--mdc-linear-progress-track-color: var(--mdc-theme-secondary);
	
	/* Slider */
	--mdc-slider-track-color: var(--mdc-theme-secondary);
 	--mdc-slider-track-fill-color: var(--mdc-theme-secondary);
 	--mdc-slider-tick-marker-color: var(--mdc-theme-secondary);
 	--mdc-slider-thumb-color: var(--mdc-theme-secondary);
 	--mdc-slider-pin-color: var(--mdc-theme-secondary);
  	--mdc-slider-value-pin-color: var(--mdc-theme-on-secondary);
  	
  	/* Tab */
  	--mdc-tab-color: var(--mdc-theme-surface, rgba(0, 0, 0, 0.24));
	--mdc-tab-actived-color: var(--mdc-theme-on-primary, rgba(0, 0, 0, 1.0));
	
	/* List */
	--mdc-list-item-graphic-ink-color: var(--mdc-theme-text-icon-on-background);
	--mdc-list-item-primary-text-ink-color: var(--mdc-theme-text-primary-on-background);
	--mdc-list-item-secondary-text-ink-color: var(--mdc-theme-text-secondary-on-background);
	--mdc-list-item-meta-ink-color: var(--mdc-theme-text-icon-on-background);
}

/* ==========================================================================
   Icon button
   ========================================================================== */
.mdc-icon-button {
	color: var(--mdc-icon-button-ink-color);}
.mdc-icon-button[disabled] {
	color: var(--mdc-theme-text-disabled-on-background);}
.mdc-icon-button.mdc-ripple-surface--color::before, 
.mdc-icon-button.mdc-ripple-surface--color::after {
	background-color: var(--mdc-icon-button-ink-color);}

/* ==========================================================================
   Icon toggle
   ========================================================================== */
.mdc-icon-toggle {
	color: var(--mdc-icon-toggle-ink-color, rgba(0, 0, 0, 0.38));}
.mdc-icon-toggle[disabled] {
	opacity: 0.26;
	color: var(--mdc-theme-text-disabled-on-light, rgba(0, 0, 0, 0.38));}
.mdc-icon-toggle.mdc-list-item__start-detail {
	width: 36px;
	height: 36px;
	margin-left: -6px;}
.mdc-icon-toggle.mdc-list-item__end-detail {
	width: 36px;
	height: 36px;
	margin-right: -6px;}
.mdc-icon-toggle.mdc-ripple-surface--color::before, 
.mdc-icon-toggle.mdc-ripple-surface--color::after {
	background-color: var(--mdc-icon-toggle-ink-color, rgba(0, 0, 0, 0.38));}

/* ==========================================================================
   Slider color adjust
   ========================================================================== */ 
.mdc-slider:not(.mdc-slider--discrete) .mdc-slider__pin {
	display: none;}
.mdc-slider:not(.mdc-slider--display-markers) .mdc-slider__track-marker-container {
	display: none;}
.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__track {
	background-color: var(--mdc-slider-track-color);}
.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__track-marker,
.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__track-container {
	background: 
        var(--mdc-background-opacity),
		linear-gradient(var(--mdc-slider-track-fill-color), var(--mdc-slider-track-fill-color)) no-repeat;}
.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__track-marker::after,
.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__track-marker-container::after {background-color: var(--mdc-slider-tick-marker-color);}
.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__thumb {
	fill: var(--mdc-slider-thumb-color);
	stroke: var(--mdc-slider-thumb-color);}
.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__focus-ring {background-color: green;}
.mdc-slider:not(.mdc-slider--disabled) .mdc-slider__pin {
	background-color: var(--mdc-slider-pin-color);
    color: var(--mdc-slider-value-pin-color);}
    
/* ==========================================================================
   Linear Progress adjust
   ========================================================================== */
.mdc-linear-progress .mdc-linear-progress__bar-inner {
    background-color: var(--mdc-linear-progress-indicator-color);}
.mdc-linear-progress__buffering-dots {
	right: 0;
	background-image: radial-gradient(ellipse 4px 4px at center, var(--mdc-linear-progress-track-color) 0%, var(--mdc-linear-progress-track-color) 47%, var(--mdc-linear-progress-track-color) 47%, transparent 47%, transparent 48%);
	opacity: var(--mdc-track-opacity);}
.mdc-linear-progress--reversed .mdc-linear-progress__buffering-dots {
	left: 0;}
.mdc-linear-progress__buffer {
	background: 
        var(--mdc-background-opacity),
		linear-gradient(var(--mdc-linear-progress-track-color), var(--mdc-linear-progress-track-color)) no-repeat;}



/* ==========================================================================
   Tab
   ========================================================================== */
.mdc-tab[disabled] {
	opacity: 0.37;
}

.mdc-tab-bar {
	background-color: var(--mdc-theme-primary);
}

 .mdc-tab .mdc-tab__text-label:empty,
 .mdc-tab .mdc-tab__icon:empty {
    display: none; 
}

 .mdc-tab .mdc-tab__text-label,
 .mdc-tab .mdc-tab__icon {
    color: var(--mdc-tab-color); 
}

.mdc-tab--active .mdc-tab__text-label,
.mdc-tab--active .mdc-tab__icon {
    color: var(--mdc-tab-actived-color); 
}

.mdc-tab:not(.mdc-tab--active) .mdc-tab-indicator > .mdc-tab-indicator__content--underline,
.mdc-tab:not(.mdc-tab--active) .mdc-tab__ripple::before, 
.mdc-tab:not(.mdc-tab--active) .mdc-tab__ripple::after {
    background-color: var(--mdc-tab-color); 
}  

.mdc-tab--active .mdc-tab-indicator > .mdc-tab-indicator__content--underline,
.mdc-tab--active .mdc-tab__ripple::before, 
.mdc-tab--active .mdc-tab__ripple::after {
    background-color: var(--mdc-tab-actived-color); 
}        

/* ==========================================================================
   List color
   ========================================================================== */
.mdc-list-item[disabled] {
	opacity: 0.37;
}

.mdc-list-item,
.mdc-list-item * {
	cursor: pointer;
}

.mdc-list-divider {
	background-color: var(--mdc-theme-text-hint-on-background);
}

.mdc-list-group__subheader {
	color: var(--mdc-theme-text-secondary-on-background);
}

.mdc-list-item__graphic {
	color: var(--mdc-list-item-graphic-ink-color);
}

.mdc-list-item__primary-text {
	color: var(--mdc-list-item-primary-text-ink-color);
}

.mdc-list-item__secondary-text {
	color: var(--mdc-list-item-secondary-text-ink-color);
}

.mdc-list-item__meta {
	color: var(--mdc-list-item-meta-ink-color);
}