:root {
  --mdc-arrow-size: 8px;}

.chartist-tooltip {
  position: absolute;
  margin-top: calc(var(--mdc-arrow-size) - 2px);
  display: inline-block;
  opacity: 0;
  min-width: 5em;
  padding: 4px;
  background: var(--mdc-theme-on-surface);
  color: var(--mdc-theme-surface);  
  border-radius: var(--mdc-popup-border-radius);  
  font-family: var(--mdc-font-family);  
  font-size: 0.8rem;
  line-height: 0.85rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;    
  text-align: center;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear; }
  .chartist-tooltip:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: calc(-1 * var(--mdc-arrow-size));
    border: var(--mdc-arrow-size) solid transparent;
    border-top-color: var(--mdc-theme-on-surface); }
  .chartist-tooltip.tooltip-show {
    opacity: 1; }

.ct-area, .ct-line {
  pointer-events: none; }

.chartist-tooltip-meta {
	opacity: .85;}  

.chartist-tooltip-value {
	font-size: 0.9rem;
	font-weight: bold;}
	
.ct-point[tooltip]:hover {
	stroke-width: 14px;}		
