:root {
  --mdc-theme-primary: rgba(0,0,0,1);
  --mdc-theme-secondary:  #FFC400;
  --mdc-theme-background: rgba(255,255,255,1);
  --mdc-theme-surface: rgba(255,255,255,1);
  
  --mdc-theme-on-primary:  white;
  --mdc-theme-on-secondary:  black;
  --mdc-theme-on-surface: rgba(0,0,0,1);
  
  --mdc-theme-text-primary-on-background: rgba(0,0,0,1);
  --mdc-theme-text-secondary-on-background: rgba(0,0,0,0.7);
  --mdc-theme-text-hint-on-background: rgba(0,0,0,0.6);
  --mdc-theme-text-disabled-on-background: rgba(0,0,0,0.5);
  --mdc-theme-text-icon-on-background: rgba(0,0,0,0.6);
  
  --mdc-state--success: #00b020;
  --mdc-state--warning: #FF8F00;
  --mdc-state--error: #b00020;
  
  /* ============================== */
  /* Used only in source code view 	*/
  /* - MaterialCode 				*/
  /* - MaterialCodeExample 			*/
  /* ============================== */
  
  --mdc-theme-code-background: #272822;
  --mdc-theme-code-color: #f5f5f5;
  --mdc-theme-code-token-comment: slategray;
  --mdc-theme-code-token-prolog: slategray;
  --mdc-theme-code-token-doctype: slategray;
  --mdc-theme-code-token-cdata: slategray;
  --mdc-theme-code-token-punctuation: #f8f8f2;
  --mdc-theme-code-token-property: #f92672;
  --mdc-theme-code-token-tag: #f92672;
  --mdc-theme-code-token-constant: #f92672;
  --mdc-theme-code-token-symbol: #f92672;
  --mdc-theme-code-token-deleted: #f92672;
  --mdc-theme-code-token-boolean: #ae81ff;
  --mdc-theme-code-token-number: #ae81ff;
  --mdc-theme-code-token-selector: #a6e22e;
  --mdc-theme-code-token-attr-name: #a6e22e;
  --mdc-theme-code-token-string: #a6e22e;
  --mdc-theme-code-token-char: #a6e22e;
  --mdc-theme-code-token-builtin: #a6e22e;
  --mdc-theme-code-token-inserted: #a6e22e;
  --mdc-theme-code-token-operator: #f8f8f2;
  --mdc-theme-code-token-entity: #f8f8f2;
  --mdc-theme-code-token-url: #f8f8f2;
  --mdc-theme-code-token-variable: #f8f8f2;
  --mdc-theme-code-token-atrule: #e6db74;
  --mdc-theme-code-token-attr-value: #e6db74;
  --mdc-theme-code-token-function: #e6db74;
  --mdc-theme-code-token-keyword: #66d9ef;
  --mdc-theme-code-token-regex: #fd971f;
  --mdc-theme-code-token-important: #fd971f;
}