:root {
  --mdc-theme-primary: #000;
  --mdc-theme-secondary:  #FFC400;
  --mdc-theme-background: #FFF;
  --mdc-theme-surface: #FFF;
  
  --mdc-theme-on-primary:  #FFF;
  --mdc-theme-on-secondary:  #000;
  --mdc-theme-on-surface: #000;
  
  --mdc-theme-text-primary-on-background: rgba(0,0,0,1);
  --mdc-theme-text-secondary-on-background: rgba(0,0,0,0.7);
  --mdc-theme-text-hint-on-background: rgba(0,0,0,0.54);
  --mdc-theme-text-icon-on-background: rgba(0,0,0,0.6);
  --mdc-theme-text-disabled-on-background: rgba(0,0,0,0.48);
  
  --mdc-state--success: #00B020;
  --mdc-state--warning: #FF8F00;
  --mdc-state--error: #B00020;
  
  --mdc-chartist--series_a: #ff6f00;
  --mdc-chartist--series_a--label: #fff;
  --mdc-chartist--series_b: #fe7d14;
  --mdc-chartist--series_b--label: #fff;
  --mdc-chartist--series_c: #fd8924;
  --mdc-chartist--series_c--label: #fff;
  --mdc-chartist--series_d: #fc9532;
  --mdc-chartist--series_d--label: #fff;
  --mdc-chartist--series_e: #fba041;
  --mdc-chartist--series_e--label: #fff;
  --mdc-chartist--series_f: #faaa4f;
  --mdc-chartist--series_f--label: #fff;
  --mdc-chartist--series_g: #f9b45e;
  --mdc-chartist--series_g--label: #000;
  --mdc-chartist--series_h: #f9be6d;
  --mdc-chartist--series_h--label: #000;
  --mdc-chartist--series_i: #f8c77c;
  --mdc-chartist--series_i--label: #000;
  --mdc-chartist--series_j: #f8d08c;
  --mdc-chartist--series_j--label: #000;
  --mdc-chartist--series_k: #f9d99d;
  --mdc-chartist--series_k--label: #000;
  --mdc-chartist--series_l: #fae1ad;
  --mdc-chartist--series_l--label: #000;
  --mdc-chartist--series_m: #fbe9be;
  --mdc-chartist--series_m--label: #000;
  --mdc-chartist--series_n: #fdf1d0;
  --mdc-chartist--series_n--label: #000;
  --mdc-chartist--series_o: #fff8e1;
  --mdc-chartist--series_o--label: #000;
  
  /* ============================== */
  /* Used only in source code view 	*/
  /* - MaterialCode 				*/
  /* - MaterialCodeExample 			*/
  /* ============================== */
  
  --mdc-theme-code-background: #272822;
  --mdc-theme-code-color: #f5f5f5;
  --mdc-theme-code-token-comment: slategray;
  --mdc-theme-code-token-prolog: slategray;
  --mdc-theme-code-token-doctype: slategray;
  --mdc-theme-code-token-cdata: slategray;
  --mdc-theme-code-token-punctuation: #f8f8f2;
  --mdc-theme-code-token-property: #f92672;
  --mdc-theme-code-token-tag: #f92672;
  --mdc-theme-code-token-constant: #f92672;
  --mdc-theme-code-token-symbol: #f92672;
  --mdc-theme-code-token-deleted: #f92672;
  --mdc-theme-code-token-boolean: #ae81ff;
  --mdc-theme-code-token-number: #ae81ff;
  --mdc-theme-code-token-selector: #a6e22e;
  --mdc-theme-code-token-attr-name: #a6e22e;
  --mdc-theme-code-token-string: #a6e22e;
  --mdc-theme-code-token-char: #a6e22e;
  --mdc-theme-code-token-builtin: #a6e22e;
  --mdc-theme-code-token-inserted: #a6e22e;
  --mdc-theme-code-token-operator: #f8f8f2;
  --mdc-theme-code-token-entity: #f8f8f2;
  --mdc-theme-code-token-url: #f8f8f2;
  --mdc-theme-code-token-variable: #f8f8f2;
  --mdc-theme-code-token-atrule: #e6db74;
  --mdc-theme-code-token-attr-value: #e6db74;
  --mdc-theme-code-token-function: #e6db74;
  --mdc-theme-code-token-keyword: #66d9ef;
  --mdc-theme-code-token-regex: #fd971f;
  --mdc-theme-code-token-important: #fd971f;
}