:root {
	--mdc-theme-primary: rgba(66,66,66,1);
	--mdc-theme-secondary: rgba(64,196,255,1);
	--mdc-theme-background: rgba(97,97,97,1);
	--mdc-theme-surface: rgba(97,97,97,1);
	--mdc-theme-on-primary:  #FFF;
	--mdc-theme-on-secondary:  #000;
	--mdc-theme-on-surface: rgba(255,255,255,1);
	--mdc-theme-text-primary-on-background: rgba(255,255,255,1);
	--mdc-theme-text-secondary-on-background: rgba(255,255,255,0.7);
	--mdc-theme-text-hint-on-background: rgba(255,255,255,0.54);
	--mdc-theme-text-disabled-on-background: rgba(255,255,255,0.48);
	--mdc-theme-text-icon-on-background: rgba(255,255,255,0.6);
	
	--mdc-state--success: #00B020;
  	--mdc-state--warning: #FF8F00;
  	--mdc-state--error: #B00020;
	
	--mdc-chartist--series_a: #40c4ff;
	--mdc-chartist--label_a: #fff;
	--mdc-chartist--series_b: #56c9fd;
	--mdc-chartist--label_b: #000;
	--mdc-chartist--series_c: #6ccffb;
	--mdc-chartist--label_c: #000;
	--mdc-chartist--series_d: #81d4f9;
	--mdc-chartist--label_d: #000;
	--mdc-chartist--series_e: #97d9f7;
	--mdc-chartist--label_e: #000;
	--mdc-chartist--series_f: #addef4;
	--mdc-chartist--label_f: #000;
	--mdc-chartist--series_g: #c3e4f2;
	--mdc-chartist--label_g: #000;
	--mdc-chartist--series_h: #d8e9f0;
	--mdc-chartist--label_h: #000;
	--mdc-chartist--series_i: #40c4ff;
	--mdc-chartist--label_i: #fff;
	--mdc-chartist--series_j: #56c9fd;
	--mdc-chartist--label_j: #000;
	--mdc-chartist--series_k: #6ccffb;
	--mdc-chartist--label_k: #000;
	--mdc-chartist--series_l: #81d4f9;
	--mdc-chartist--label_l: #000;
	--mdc-chartist--series_m: #97d9f7;
	--mdc-chartist--label_m: #000;
	--mdc-chartist--series_n: #addef4;
	--mdc-chartist--label_n: #000;
	--mdc-chartist--series_o: #c3e4f2;
	--mdc-chartist--label_o: #000;
	--mdc-chartist--series_p: #d8e9f0;
	--mdc-chartist--label_p: #000;
	--mdc-chartist--series_q: #40c4ff;
	--mdc-chartist--label_q: #fff;
	--mdc-chartist--series_r: #56c9fd;
	--mdc-chartist--label_r: #000;
	--mdc-chartist--series_s: #6ccffb;
	--mdc-chartist--label_s: #000;
	--mdc-chartist--series_t: #81d4f9;
	--mdc-chartist--label_t: #000;
	--mdc-chartist--series_u: #97d9f7;
	--mdc-chartist--label_u: #000;
	--mdc-chartist--series_v: #addef4;
	--mdc-chartist--label_v: #000;
	--mdc-chartist--series_w: #c3e4f2;
	--mdc-chartist--label_w: #000;
	--mdc-chartist--series_x: #d8e9f0;
	--mdc-chartist--label_x: #000;
	--mdc-chartist--series_y: #40c4ff;
	--mdc-chartist--label_y: #fff;
	--mdc-chartist--series_z: #56c9fd;
	--mdc-chartist--label_z: #000;
  
  /* ============================== */
  /* Used only in source code view 	*/
  /* - MaterialCode 				*/
  /* - MaterialCodeExample 			*/
  /* ============================== */
  
  --mdc-theme-code-background: #272822;
  --mdc-theme-code-color: #f5f5f5;
  --mdc-theme-code-token-comment: slategray;
  --mdc-theme-code-token-prolog: slategray;
  --mdc-theme-code-token-doctype: slategray;
  --mdc-theme-code-token-cdata: slategray;
  --mdc-theme-code-token-punctuation: #f8f8f2;
  --mdc-theme-code-token-property: #f92672;
  --mdc-theme-code-token-tag: #f92672;
  --mdc-theme-code-token-constant: #f92672;
  --mdc-theme-code-token-symbol: #f92672;
  --mdc-theme-code-token-deleted: #f92672;
  --mdc-theme-code-token-boolean: #ae81ff;
  --mdc-theme-code-token-number: #ae81ff;
  --mdc-theme-code-token-selector: #a6e22e;
  --mdc-theme-code-token-attr-name: #a6e22e;
  --mdc-theme-code-token-string: #a6e22e;
  --mdc-theme-code-token-char: #a6e22e;
  --mdc-theme-code-token-builtin: #a6e22e;
  --mdc-theme-code-token-inserted: #a6e22e;
  --mdc-theme-code-token-operator: #f8f8f2;
  --mdc-theme-code-token-entity: #f8f8f2;
  --mdc-theme-code-token-url: #f8f8f2;
  --mdc-theme-code-token-variable: #f8f8f2;
  --mdc-theme-code-token-atrule: #e6db74;
  --mdc-theme-code-token-attr-value: #e6db74;
  --mdc-theme-code-token-function: #e6db74;
  --mdc-theme-code-token-keyword: #66d9ef;
  --mdc-theme-code-token-regex: #fd971f;
  --mdc-theme-code-token-important: #fd971f;
}